Repository gensx-inc/gensx, pull requests merged in 2025-07, with the labels that each got.

#833 fix: make types for useObject more flexible
  packages/gensx-react/src/hooks/use-gensx.ts
Labels: package

#837 fix!: Update publishObject to use json patches
  eslint.config.mjs
  packages/gensx-core/package.json
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/workflow-context.ts
  packages/gensx-core/src/workflow-state.ts
  packages/gensx-core/src/wrap.ts
  packages/gensx-core/tests/workflow-state.test.ts
  packages/gensx-openai/src/openai.ts
  packages/gensx-react/README.md
  packages/gensx-react/src/hooks/use-gensx.ts
  packages/gensx-storage/tests/blob/remote.test.ts
  packages/gensx-storage/tests/database/remote.test.ts
  packages/gensx-storage/tests/search/remote.test.ts
  packages/gensx-vercel-ai/src/index.ts
  packages/gensx/src/dev-server.ts
  packages/gensx/tests/commands/login.test.ts
  packages/gensx/tests/commands/new.test.ts
  packages/gensx/tests/dev-server.test.ts
  packages/gensx/tests/utils/schema.test.ts
  pnpm-lock.yaml
Labels: core, package, cli

#841 fix: Avoid duplication issue due to object mutation.
  packages/gensx-core/src/workflow-state.ts
  packages/gensx-core/tests/workflow-state.test.ts
  packages/gensx-react/package.json
  packages/gensx-react/src/hooks/use-gensx.ts
  packages/gensx-react/src/hooks/use-object.ts
  packages/gensx-react/src/index.ts
  pnpm-lock.yaml
Labels: core, package

#839 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-client/CHANGELOG.md
  packages/gensx-client/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-react/CHANGELOG.md
  packages/gensx-react/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#842 docs: upgrading deep research to use latest packages
  examples/deep-research/app/api/gensx/[workflow]/route.ts
  examples/deep-research/app/page.tsx
  examples/deep-research/gensx/deep-research/execute-queries.ts
  examples/deep-research/gensx/workflows.ts
  examples/deep-research/hooks/useDeepResearch.ts
  examples/deep-research/package.json
  pnpm-lock.yaml
Labels: examples

#850 feat: rename /resume to /fulfill-input-request
  examples/client-side-tools/app/api/gensx/workflowExecutions/[executionId]/fulfill/[nodeId]/route.ts
  packages/gensx-client/src/sdk.ts
  packages/gensx-core/src/request-input.ts
  packages/gensx-core/tests/request-input.test.ts
  packages/gensx-react/src/hooks/use-gensx.ts
  packages/gensx/src/dev-server/routes.ts
Labels: examples, core, package, cli

#852 feat: Significant update to draft pad
  examples/draft-pad/.gitignore
  examples/draft-pad/app/api/transcribe/route.ts
  examples/draft-pad/app/layout.tsx
  examples/draft-pad/app/page.tsx
  examples/draft-pad/app/test/page.tsx
  examples/draft-pad/components/Header.tsx
  examples/draft-pad/components/InputSection.tsx
  examples/draft-pad/components/ModelDropdown.tsx
  examples/draft-pad/components/ModelSelectorView.tsx
  examples/draft-pad/components/ModelSortBadges.tsx
  examples/draft-pad/components/ModelStreamView.tsx
  examples/draft-pad/components/OverallStatsBadges.tsx
  examples/draft-pad/components/VoiceButton.tsx
  examples/draft-pad/components/VoiceVisualization.tsx
  examples/draft-pad/components/ui/diff-display.tsx
  examples/draft-pad/components/ui/diff-toggle-button.tsx
  examples/draft-pad/components/ui/model-stream-card.tsx
  examples/draft-pad/components/ui/provider-icon.tsx
  examples/draft-pad/components/ui/version-controls.tsx
  examples/draft-pad/gensx/workflows.ts
  examples/draft-pad/hooks/useAvailableModels.ts
  examples/draft-pad/hooks/useDiffState.ts
  examples/draft-pad/hooks/useDraftPad.ts
  examples/draft-pad/hooks/useModelStreams.ts
  examples/draft-pad/hooks/useVoiceRecording.ts
  examples/draft-pad/lib/diff-utils.ts
  examples/draft-pad/lib/types.ts
  examples/draft-pad/package.json
  examples/draft-pad/public/background-mountains-window.png
  examples/draft-pad/public/desk-window.png
  examples/draft-pad/public/gensx-logo.svg
  examples/draft-pad/public/providers/groq.svg
  pnpm-lock.yaml
Labels: examples

#864 chore: release main
  .release-please-manifest.json
  packages/gensx-react/CHANGELOG.md
  packages/gensx-react/package.json
Labels: autorelease: pending, package

#861 chore: Bump example versions.
  examples/all-models-metadata/package.json
  examples/anthropic-examples/package.json
  examples/blog-writer/README.md
  examples/blog-writer/package.json
  examples/blog-writer/src/components/outline.ts
  examples/blog-writer/src/components/research.ts
  examples/blog-writer/src/workflows.ts
  examples/chat-memory/package.json
  examples/chat-ux/package.json
  examples/client-side-tools/app/api/gensx/gensx.ts
  examples/client-side-tools/package.json
  examples/deep-research/package.json
  examples/draft-pad/package.json
  examples/groq-deepseek/package.json
  examples/hacker-news-analyzer/package.json
  examples/open-router/package.json
  examples/openai-examples/package.json
  examples/openai-examples/src/workflows.ts
  examples/rag/package.json
  examples/reflection/package.json
  examples/reflection/src/workflows.ts
  examples/text-to-sql/package.json
  examples/vercel-ai/package.json
  pnpm-lock.yaml
  update-example-deps.sh
  website/home/app/showcase/README.md
Labels: examples, homepage

#857 feat: Support non-interactive deploys.
  .github/workflows/release.yml
  packages/gensx/src/commands/headless-deploy.ts
  packages/gensx/src/index.ts
  packages/gensx/tests/commands/deploy-headless.test.ts
Labels: cli

#867 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#868 fix: Fix auth for headless deploy
  packages/gensx/src/commands/headless-deploy.ts
  packages/gensx/src/index.ts
  packages/gensx/src/models/environment.ts
  packages/gensx/src/models/projects.ts
Labels: cli

#869 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#872 chore: release main
  .release-please-manifest.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-client/CHANGELOG.md
  packages/gensx-client/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-react/CHANGELOG.md
  packages/gensx-react/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/package.json
Labels: autorelease: pending, core, package

#859 feat: adding next.js template to `gensx new`
  packages/create-gensx/src/cli.ts
  packages/create-gensx/src/index.ts
  packages/create-gensx/tests/index.test.ts
  packages/gensx/eslint.config.mjs
  packages/gensx/src/commands/new.tsx
  packages/gensx/src/index.ts
  packages/gensx/src/templates/projects/next/.gitignore
  packages/gensx/src/templates/projects/next/README.md
  packages/gensx/src/templates/projects/next/app/api/gensx/[workflow]/route.ts.template
  packages/gensx/src/templates/projects/next/app/api/gensx/[workflow]/start/route.ts.template
  packages/gensx/src/templates/projects/next/app/api/gensx/[workflow]/workflowExecutions/[executionId]/fulfill/[nodeId]/route.ts.template
  packages/gensx/src/templates/projects/next/app/api/gensx/[workflow]/workflowExecutions/[executionId]/progress/route.ts.template
  packages/gensx/src/templates/projects/next/app/api/gensx/gensx.ts.template
  packages/gensx/src/templates/projects/next/app/globals.css
  packages/gensx/src/templates/projects/next/app/layout.tsx.template
  packages/gensx/src/templates/projects/next/app/page.tsx.template
  packages/gensx/src/templates/projects/next/components/Header.tsx.template
  packages/gensx/src/templates/projects/next/components/WorkflowInput.tsx.template
  packages/gensx/src/templates/projects/next/components/WorkflowOutput.tsx.template
  packages/gensx/src/templates/projects/next/components/ui/alert.tsx.template
  packages/gensx/src/templates/projects/next/components/ui/badge.tsx.template
  packages/gensx/src/templates/projects/next/components/ui/button.tsx.template
  packages/gensx/src/templates/projects/next/components/ui/card.tsx.template
  packages/gensx/src/templates/projects/next/components/ui/textarea.tsx.template
  packages/gensx/src/templates/projects/next/eslint.config.mjs.template
  packages/gensx/src/templates/projects/next/gensx/workflows.ts.template
  packages/gensx/src/templates/projects/next/lib/utils.ts.template
  packages/gensx/src/templates/projects/next/next.config.ts.template
  packages/gensx/src/templates/projects/next/package.json.template
  packages/gensx/src/templates/projects/next/postcss.config.mjs.template
  packages/gensx/src/templates/projects/next/public/favicon.ico
  packages/gensx/src/templates/projects/next/public/github-mark.svg
  packages/gensx/src/templates/projects/next/public/logo-dark.svg
  packages/gensx/src/templates/projects/next/public/logo.svg
  packages/gensx/src/templates/projects/next/public/template-ux.png
  packages/gensx/src/templates/projects/next/template.json
  packages/gensx/src/templates/projects/next/tsconfig.json.template
  packages/gensx/tests/commands/new.test.ts
  packages/gensx/tsconfig.build.json
  packages/gensx/tsconfig.json
Labels: cli

#877 chore: testing repo sync
  examples/deep-research/README.md
Labels: examples

#879 feat: Polish map demo
  .github/workflows/deploy-examples.yml
  examples/client-side-tools/README.md
  examples/client-side-tools/app/api/chats/[userId]/[threadId]/route.ts
  examples/client-side-tools/app/api/chats/[userId]/route.ts
  examples/client-side-tools/app/api/map-state/[userId]/[threadId]/route.ts
  examples/client-side-tools/app/globals.css
  examples/client-side-tools/app/layout.tsx
  examples/client-side-tools/app/page.tsx
  examples/client-side-tools/components/ChatHistory.tsx
  examples/client-side-tools/components/ChatInput.tsx
  examples/client-side-tools/components/Map.tsx
  examples/client-side-tools/components/ToolMessage.tsx
  examples/client-side-tools/gensx/tools/geocode.ts
  examples/client-side-tools/gensx/tools/reverse-geocode.ts
  examples/client-side-tools/gensx/tools/toolbox.ts
  examples/client-side-tools/gensx/tools/web-search.ts
  examples/client-side-tools/gensx/tools/webSearch.ts
  examples/client-side-tools/gensx/workflows.ts
  examples/client-side-tools/hooks/useChat.ts
  examples/client-side-tools/hooks/useMapTools.ts
  examples/client-side-tools/hooks/useVisualViewport.ts
  examples/client-side-tools/lib/actions/chat-history.ts
  examples/client-side-tools/lib/actions/map-state.ts
  examples/client-side-tools/lib/userId.ts
  examples/client-side-tools/package.json
  examples/client-side-tools/public/marker-icon.png
  pnpm-lock.yaml
Labels: examples

#886 fix: Fix map move not working for some cases.
  examples/client-side-tools/app/page.tsx
Labels: examples

#884 docs: Add docs for humand-in-the-loop and client side tool calling.
  website/docs/src/content/_meta.ts
  website/docs/src/content/client-side-tools.mdx
  website/docs/src/content/durable-execution.mdx
  website/docs/src/content/human-in-the-loop.mdx
  website/docs/src/content/patterns/_meta.ts
Labels: docs

#892 fix: fix map demo link
  website/home/app/showcase/showcase-client.tsx
Labels: homepage

#889 chore: adding buttons to each template readme
  examples/chat-ux/README.md
  examples/client-side-tools/README.md
  examples/draft-pad/README.md
Labels: examples

#894 docs: fix token limit for deep research
  examples/chat-ux/package.json
  examples/deep-research/gensx/deep-research/generate-report.ts
  examples/deep-research/package.json
  pnpm-lock.yaml
Labels: examples, codex

#893 fix: Improve dev server experience
  examples/client-side-tools/app/api/gensx/start/route.ts
  packages/gensx/src/commands/start.tsx
  packages/gensx/src/dev-server/utils.ts
Labels: examples, cli

#903 fix: Remove debug logs.
  examples/client-side-tools/gensx/tools/location-search.ts
  examples/client-side-tools/hooks/useChat.ts
  examples/client-side-tools/test-location-search.js
Labels: examples

#904 feat: Updated styling of client side tools example app
  examples/client-side-tools/app/globals.css
  examples/client-side-tools/app/layout.tsx
  examples/client-side-tools/app/page.tsx
  examples/client-side-tools/components/AppLogo.tsx
  examples/client-side-tools/components/ChatInput.tsx
  examples/client-side-tools/components/CombinedFloatingPanel.tsx
  examples/client-side-tools/components/InstructionsModal.tsx
  examples/client-side-tools/components/Map.tsx
  examples/client-side-tools/components/ui/modal.tsx
  examples/client-side-tools/components/ui/toast.tsx
  examples/client-side-tools/gensx/tools/location-search.ts
  examples/client-side-tools/gensx/tools/toolbox.ts
  examples/client-side-tools/gensx/tools/web-search.ts
  examples/client-side-tools/gensx/workflows.ts
  examples/client-side-tools/hooks/useMapTools.ts
  examples/client-side-tools/public/gensx-logo.svg
Labels: examples

#906 fix: Update gensx-storage docs for nextjs config
  packages/gensx-storage/README.md
  website/docs/src/content/cloud/storage/blob-storage.mdx
  website/docs/src/content/cloud/storage/search.mdx
  website/docs/src/content/cloud/storage/sql-database.mdx
Labels: package, docs

#907 fix: make @libsql/client optional in @gensx/storage
  examples/text-to-sql/package.json
  packages/gensx-storage/README.md
  packages/gensx-storage/package.json
  packages/gensx-storage/src/database/databaseClient.ts
  packages/gensx-storage/src/database/filesystem.ts
  packages/gensx-storage/src/database/remote.ts
  packages/gensx-storage/src/database/types.ts
  pnpm-lock.yaml
Labels: examples, package, codex
