Repository gensx-inc/gensx, pull requests merged in 2025-05, with the labels that each got.

#641 feat: wiring up support for description in gensx.yaml
  packages/create-gensx/src/cli.ts
  packages/create-gensx/tests/index.test.ts
  packages/create-gensx/tests/package.test.ts
  packages/gensx/src/commands/deploy.ts
  packages/gensx/src/commands/environment/create.ts
  packages/gensx/src/commands/new.ts
  packages/gensx/src/models/projects.ts
  packages/gensx/tests/commands/environment/create.test.ts
  packages/gensx/tests/commands/new.test.ts
Labels: cli

#658 docs: documenting updates to storage and cli
  website/docs/src/content/cli-reference/deploy.mdx
  website/docs/src/content/cli-reference/run.mdx
  website/docs/src/content/component-reference/storage-components/blob-reference.mdx
  website/docs/src/content/component-reference/storage-components/database-reference.mdx
  website/docs/src/content/component-reference/storage-components/search-reference.mdx
Labels: docs

#663 docs: remove duplicate "Docs" links on the navigation menu
  website/home/components/nav.tsx
Labels: homepage

#669 feat: updating listblobs to return extra metadata
  packages/gensx-storage/src/blob/filesystem.ts
  packages/gensx-storage/src/blob/remote.ts
  packages/gensx-storage/src/blob/types.ts
  packages/gensx-storage/tests/blob/filesystem.test.ts
  packages/gensx-storage/tests/blob/remote.test.ts
  website/docs/src/content/component-reference/storage-components/blob-reference.mdx
Labels: package, docs

#662 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, package, cli

#670 feat: upgrading env cli commands to use ink
  packages/gensx-anthropic/vitest.config.ts
  packages/gensx-claude-md/vitest.config.ts
  packages/gensx-cli/deno.json
  packages/gensx-cline-rules/vitest.config.ts
  packages/gensx-core/vitest.config.ts
  packages/gensx-cursor-rules/vitest.config.ts
  packages/gensx-mcp/vitest.config.ts
  packages/gensx-openai/vitest.config.ts
  packages/gensx-vercel-ai-sdk/vitest.config.ts
  packages/gensx-windsurf-rules/vitest.config.ts
  packages/gensx/package.json
  packages/gensx/src/commands/environment/create.ts
  packages/gensx/src/commands/environment/create.tsx
  packages/gensx/src/commands/environment/list.ts
  packages/gensx/src/commands/environment/list.tsx
  packages/gensx/src/commands/environment/select.ts
  packages/gensx/src/commands/environment/select.tsx
  packages/gensx/src/commands/environment/show.ts
  packages/gensx/src/commands/environment/show.tsx
  packages/gensx/src/commands/environment/unselect.ts
  packages/gensx/src/commands/environment/unselect.tsx
  packages/gensx/src/components/ErrorMessage.tsx
  packages/gensx/src/components/LoadingSpinner.tsx
  packages/gensx/src/index.ts
  packages/gensx/tests/commands/deploy.test.ts
  packages/gensx/tests/commands/environment/create.test.ts
  packages/gensx/tests/commands/environment/env.test.ts
  packages/gensx/tests/commands/environment/list.test.ts
  packages/gensx/tests/commands/environment/select.test.ts
  packages/gensx/tests/commands/environment/unselect.test.ts
  packages/gensx/tests/commands/run.test.ts
  packages/gensx/tests/commands/start.test.ts
  packages/gensx/tests/test-helpers.ts
  packages/gensx/tsconfig.json
  packages/gensx/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/home/components/markdown-to-html.tsx
  website/home/package.json
  website/home/public/llms-full.txt
  website/home/public/llms.txt
Labels: core, package, cli, homepage

#673 docs: fixing build of website
  packages/gensx/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/home/.gitignore
  website/home/public/llms-full.txt
  website/home/public/llms.txt
Labels: cli, homepage

#677 feat: updating remaining CLI commands to use ink
  packages/create-gensx/package.json
  packages/create-gensx/src/index.ts
  packages/create-gensx/tests/package.test.ts
  packages/create-gensx/tsconfig.json
  packages/gensx-cli/deno.json
  packages/gensx/package.json
  packages/gensx/src/commands/build.ts
  packages/gensx/src/commands/build.tsx
  packages/gensx/src/commands/deploy.ts
  packages/gensx/src/commands/deploy.tsx
  packages/gensx/src/commands/environment/create.tsx
  packages/gensx/src/commands/environment/list.tsx
  packages/gensx/src/commands/environment/select.tsx
  packages/gensx/src/commands/environment/show.tsx
  packages/gensx/src/commands/environment/unselect.tsx
  packages/gensx/src/commands/login.ts
  packages/gensx/src/commands/login.tsx
  packages/gensx/src/commands/new.ts
  packages/gensx/src/commands/new.tsx
  packages/gensx/src/commands/run.ts
  packages/gensx/src/commands/run.tsx
  packages/gensx/src/commands/start.ts
  packages/gensx/src/commands/start.tsx
  packages/gensx/src/components/EnvironmentResolver.tsx
  packages/gensx/src/components/FirstTimeSetup.tsx
  packages/gensx/src/dev-server.ts
  packages/gensx/src/hooks/useProjectName.ts
  packages/gensx/src/index.ts
  packages/gensx/src/logger.ts
  packages/gensx/src/utils/env-config.ts
  packages/gensx/src/utils/first-time-setup.ts
  packages/gensx/tests/commands/deploy.test.ts
  packages/gensx/tests/commands/environment/create.test.ts
  packages/gensx/tests/commands/environment/env.test.ts
  packages/gensx/tests/commands/environment/list.test.ts
  packages/gensx/tests/commands/environment/select.test.ts
  packages/gensx/tests/commands/environment/unselect.test.ts
  packages/gensx/tests/commands/login.test.ts
  packages/gensx/tests/commands/new.test.ts
  packages/gensx/tests/commands/run.test.ts
  packages/gensx/tests/commands/start.test.ts
  packages/gensx/tests/components/EnvironmentResolver.test.ts
  packages/gensx/tests/dev-server.test.ts
  packages/gensx/tests/setup.ts
  packages/gensx/tests/test-helpers.ts
  packages/gensx/tsconfig.json
  packages/gensx/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package, cli

#672 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-claude-md/CHANGELOG.md
  packages/gensx-claude-md/package.json
  packages/gensx-cline-rules/CHANGELOG.md
  packages/gensx-cline-rules/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-cursor-rules/CHANGELOG.md
  packages/gensx-cursor-rules/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx-windsurf-rules/CHANGELOG.md
  packages/gensx-windsurf-rules/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#679 fix: updating deno to fix cli release
  packages/gensx-cli/deno.json
  packages/gensx-cli/deno.lock
  packages/gensx-cli/package.json
  pnpm-lock.yaml
Labels: package

#684 fix: fixing bug writing and finding build files in start command
  packages/gensx/src/commands/start.tsx
  packages/gensx/tests/commands/start.test.ts
Labels: cli

#683 feat: updating listNamespaces to return an object
  packages/gensx-storage/src/search/remote.ts
  packages/gensx-storage/src/search/searchClient.ts
  packages/gensx-storage/src/search/types.ts
  packages/gensx-storage/tests/search/index.test.tsx
Labels: package

#682 fix: making user agent logic permissive
  packages/gensx/src/utils/user-agent.ts
Labels: cli

#685 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, package, cli

#668 docs: making more examples deployable
  README.md
  examples/README.md
  examples/blog-writer/README.md
  examples/blog-writer/nodemon.json
  examples/blog-writer/package.json
  examples/blog-writer/src/index.ts
  examples/blog-writer/src/workflows.tsx
  examples/blog-writer/tsconfig.json
  examples/contexts/nodemon.json
  examples/contexts/src/index.tsx
  examples/contexts/tsconfig.json
  examples/deep-research/README.md
  examples/deep-research/nodemon.json
  examples/deep-research/package.json
  examples/deep-research/src/arxiv.tsx
  examples/deep-research/src/firecrawlProvider.tsx
  examples/deep-research/src/grader.tsx
  examples/deep-research/src/index.ts
  examples/deep-research/src/queryGenerator.tsx
  examples/deep-research/src/summarize.tsx
  examples/deep-research/src/workflows.tsx
  examples/deep-research/tsconfig.json
  examples/hacker-news-analyzer/README.md
  examples/hacker-news-analyzer/nodemon.json
  examples/hacker-news-analyzer/package.json
  examples/hacker-news-analyzer/src/hn.ts
  examples/hacker-news-analyzer/src/index.ts
  examples/hacker-news-analyzer/src/workflows.tsx
  examples/hacker-news-analyzer/tsconfig.json
  package.json
  pnpm-lock.yaml
  scripts/runExample.sh
  website/docs/src/content/examples/blog-writing.mdx
  website/docs/src/content/examples/hn.mdx
  website/docs/src/content/examples/mcp.mdx
  website/docs/src/content/examples/openai-computer-use.mdx
Labels: examples, docs

#692 feat: removing providers and introducing useBlob/search/db helpers
  .github/workflows/test-examples.yml
  .github/workflows/test.yml
  packages/gensx-storage/src/blob/blobClient.ts
  packages/gensx-storage/src/blob/context.ts
  packages/gensx-storage/src/blob/provider.tsx
  packages/gensx-storage/src/blob/types.ts
  packages/gensx-storage/src/blob/useBlob.ts
  packages/gensx-storage/src/database/context.ts
  packages/gensx-storage/src/database/databaseClient.ts
  packages/gensx-storage/src/database/provider.tsx
  packages/gensx-storage/src/database/types.ts
  packages/gensx-storage/src/database/useDatabase.ts
  packages/gensx-storage/src/index.ts
  packages/gensx-storage/src/search/context.tsx
  packages/gensx-storage/src/search/provider.tsx
  packages/gensx-storage/src/search/searchClient.ts
  packages/gensx-storage/src/search/types.ts
  packages/gensx-storage/src/search/useSearch.ts
  packages/gensx-storage/tests/blob/index.test.ts
  packages/gensx-storage/tests/blob/index.test.tsx
  packages/gensx-storage/tests/blob/provider.test.tsx
  packages/gensx-storage/tests/database/index.test.ts
  packages/gensx-storage/tests/database/provider.test.tsx
  packages/gensx-storage/tests/search/index.test.ts
  packages/gensx-storage/tests/search/provider.test.tsx
  packages/gensx-storage/tests/search/remote.test.ts
  website/docs/src/content/component-reference/storage-components/blob-reference.mdx
  website/docs/src/content/component-reference/storage-components/database-reference.mdx
  website/docs/src/content/component-reference/storage-components/search-reference.mdx
Labels: package, docs

#687 fix: removing -ev cli option in favor of -e
  examples/blog-writer/package.json
  examples/chat-memory/package.json
  examples/deep-research/package.json
  examples/hacker-news-analyzer/package.json
  examples/rag/package.json
  examples/text-to-sql/package.json
  packages/gensx/src/index.ts
  packages/gensx/src/templates/projects/typescript/package.json.template
  website/docs/src/content/cli-reference/deploy.mdx
  website/docs/src/content/cli-reference/run.mdx
  website/docs/src/content/cloud/projects-environments.mdx
  website/docs/src/content/cloud/serverless-deployments.mdx
  website/docs/src/content/quickstart.mdx
Labels: examples, docs, cli

#689 fix: resolves bug preventing deployment if project doesn't exist
  packages/gensx/src/commands/deploy.tsx
  packages/gensx/src/commands/login.tsx
  packages/gensx/src/components/EnvironmentResolver.tsx
  packages/gensx/src/hooks/useProjectName.ts
  packages/gensx/src/models/environment.ts
  packages/gensx/tests/commands/deploy.test.ts
  packages/gensx/tests/components/EnvironmentResolver.test.ts
Labels: cli

#695 feat: Decorators instead of JSX.
  .vscode/settings.json
  containers/builder/Dockerfile
  containers/builder/build.sh
  eslint.config.mjs
  examples/hacker-news-analyzer/nodemon.json
  examples/hacker-news-analyzer/package.json
  examples/hacker-news-analyzer/src/index.ts
  examples/hacker-news-analyzer/src/workflows.ts
  examples/hacker-news-analyzer/tsconfig.build.json
  examples/hacker-news-analyzer/tsconfig.json
  packages/gensx-core/rollup.config.js
  packages/gensx-core/src/array.ts
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/execute.ts
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/iterator.ts
  packages/gensx-core/src/jsx-dev-runtime.ts
  packages/gensx-core/src/jsx-runtime.ts
  packages/gensx-core/src/resolve.ts
  packages/gensx-core/src/stream.ts
  packages/gensx-core/src/types.ts
  packages/gensx-core/src/workflow-context.ts
  packages/gensx-core/tests/array.test.tsx
  packages/gensx-core/tests/checkpoint.test.ts
  packages/gensx-core/tests/checkpoint.test.tsx
  packages/gensx-core/tests/component.test.ts
  packages/gensx-core/tests/component.test.tsx
  packages/gensx-core/tests/context.test.ts
  packages/gensx-core/tests/context.test.tsx
  packages/gensx-core/tests/execute.test.tsx
  packages/gensx-core/tests/index.test.tsx
  packages/gensx-core/tests/jsx-runtime.test.tsx
  packages/gensx-core/tests/resolve.test.tsx
  packages/gensx-core/tests/secrets.test.ts
  packages/gensx-core/tests/secrets.test.tsx
  packages/gensx-core/tests/streaming.test.tsx
  packages/gensx-core/tests/utils/executeWithCheckpoints.ts
  packages/gensx-core/tsconfig.json
  packages/gensx-core/vitest.config.ts
  packages/gensx/src/utils/schema.ts
  packages/gensx/tests/utils/schema.test.ts
  packages/gensx/vitest.config.ts
  pnpm-lock.yaml
  tsconfig.json
Labels: examples, core, package, cli

#696 feat: Higher order functions
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/types.ts
  packages/gensx-core/tests/component.test.ts
  packages/gensx-core/tests/context.test.ts
  packages/gensx-core/tests/utils/executeWithCheckpoints.ts
Labels: core, package

#697 fix: Remove linting from examples for now.
  .github/workflows/lint.yml
  .prettierignore
  eslint.config.mjs
  examples/all-models-metadata/eslint.config.mjs
  examples/anthropic-examples/eslint.config.mjs
  examples/anthropic-examples/package.json
  examples/blog-writer/eslint.config.mjs
  examples/blog-writer/package.json
  examples/chat-memory/eslint.config.mjs
  examples/chat-memory/package.json
  examples/commonjs-compatibility/eslint.config.mjs
  examples/commonjs-compatibility/package.json
  examples/contexts/eslint.config.mjs
  examples/contexts/package.json
  examples/deep-research/eslint.config.mjs
  examples/deep-research/package.json
  examples/eslint.config.mjs
  examples/groq-deepseek-r1-distilled/eslint.config.mjs
  examples/groq-deepseek-r1-distilled/package.json
  examples/hacker-news-analyzer/eslint.config.mjs
  examples/hacker-news-analyzer/package.json
  examples/hacker-news-analyzer/tsconfig.json
  examples/llm-games/eslint.config.mjs
  examples/llm-games/package.json
  examples/mcp/eslint.config.mjs
  examples/nested-providers/eslint.config.mjs
  examples/nested-providers/package.json
  examples/open-router/eslint.config.mjs
  examples/open-router/package.json
  examples/openai-computer-use/eslint.config.mjs
  examples/openai-computer-use/package.json
  examples/openai-examples/eslint.config.mjs
  examples/openai-examples/package.json
  examples/providers/eslint.config.mjs
  examples/providers/package.json
  examples/rag/eslint.config.mjs
  examples/rag/package.json
  examples/reflection/eslint.config.mjs
  examples/reflection/package.json
  examples/reusable-components/eslint.config.mjs
  examples/reusable-components/package.json
  examples/salty-ocean-model-comparison/eslint.config.mjs
  examples/salty-ocean-model-comparison/package.json
  examples/self-modifying-code/eslint.config.mjs
  examples/self-modifying-code/package.json
  examples/streaming/eslint.config.mjs
  examples/streaming/package.json
  examples/structured-outputs/eslint.config.mjs
  examples/structured-outputs/package.json
  examples/text-to-sql/eslint.config.mjs
  examples/text-to-sql/package.json
  examples/typescript-compatibility/eslint.config.mjs
  examples/typescript-compatibility/package.json
  package.json
  packages/gensx-core/src/workflow-context.ts
  packages/gensx-core/vitest.config.ts
Labels: examples, core, package

#698 feat: upgrade vercel package to programming model v2
  examples/salty-ocean-model-comparison/package.json
  examples/vercel-ai/README.md
  examples/vercel-ai/gensx.yaml
  examples/vercel-ai/package.json
  examples/vercel-ai/src/index.ts
  examples/vercel-ai/src/workflows.ts
  examples/vercel-ai/tsconfig.build.json
  examples/vercel-ai/tsconfig.json
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/workflow-context.ts
  packages/gensx-vercel-ai-sdk/README.md
  packages/gensx-vercel-ai-sdk/src/index.tsx
  packages/gensx-vercel-ai-sdk/tests/index.test.tsx
  packages/gensx-vercel-ai/.gitignore
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/README.md
  packages/gensx-vercel-ai/__mocks__/ai-sdk.ts
  packages/gensx-vercel-ai/eslint.config.mjs
  packages/gensx-vercel-ai/package.json
  packages/gensx-vercel-ai/rollup.config.js
  packages/gensx-vercel-ai/src/index.tsx
  packages/gensx-vercel-ai/tests/index.test.tsx
  packages/gensx-vercel-ai/tsconfig.build.json
  packages/gensx-vercel-ai/tsconfig.json
  packages/gensx-vercel-ai/vitest.config.ts
  pnpm-lock.yaml
Labels: examples, core, package

#694 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#699 feat: updating new template
  examples/hacker-news-analyzer/src/workflows.ts
  examples/vercel-ai/package.json
  packages/gensx/src/templates/projects/typescript/nodemon.json.template
  packages/gensx/src/templates/projects/typescript/package.json.template
  packages/gensx/src/templates/projects/typescript/src/index.ts.template
  packages/gensx/src/templates/projects/typescript/src/index.tsx.template
  packages/gensx/src/templates/projects/typescript/src/workflows.ts.template
  packages/gensx/src/templates/projects/typescript/src/workflows.tsx.template
  packages/gensx/src/templates/projects/typescript/template.json
  packages/gensx/src/templates/projects/typescript/tsconfig.build.json.template
  packages/gensx/src/templates/projects/typescript/tsconfig.json.template
  pnpm-lock.yaml
Labels: examples, cli

#701 feat: Add wrap helpers
  .nvmrc
  .vscode/settings.json
  examples/blog-writer/package.json
  examples/blog-writer/src/index.ts
  examples/blog-writer/src/workflows.ts
  examples/blog-writer/src/workflows.tsx
  examples/blog-writer/tsconfig.build.json
  examples/blog-writer/tsconfig.json
  packages/gensx-anthropic/rollup.config.js
  packages/gensx-anthropic/src/anthropic.ts
  packages/gensx-anthropic/src/anthropic.tsx
  packages/gensx-anthropic/src/gsx-completion.tsx
  packages/gensx-anthropic/src/index.ts
  packages/gensx-anthropic/src/index.tsx
  packages/gensx-anthropic/src/stream.tsx
  packages/gensx-anthropic/src/structured-output.tsx
  packages/gensx-anthropic/src/tools.tsx
  packages/gensx-anthropic/src/utils/zod-extensions.ts
  packages/gensx-anthropic/tsconfig.json
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/wrap.ts
  packages/gensx-core/tests/wrap.test.ts
  packages/gensx-openai/README.md
  packages/gensx-openai/package.json
  packages/gensx-openai/rollup.config.js
  packages/gensx-openai/src/gsx-completion.tsx
  packages/gensx-openai/src/index.ts
  packages/gensx-openai/src/index.tsx
  packages/gensx-openai/src/openai.ts
  packages/gensx-openai/src/openai.tsx
  packages/gensx-openai/src/stream.tsx
  packages/gensx-openai/src/structured-output.tsx
  packages/gensx-openai/src/tools.tsx
  packages/gensx-openai/src/utils/zod-extensions.ts
  packages/gensx-openai/tests/gsx-completion.test.tsx
  packages/gensx-openai/tests/index.test.tsx
  packages/gensx-openai/tests/openai.test.ts
  packages/gensx-openai/tests/structured-output.test.tsx
  packages/gensx-openai/tests/tools.test.tsx
  packages/gensx-vercel-ai/src/index.tsx
  pnpm-lock.yaml
  tsconfig.json
  website/docs/src/content/component-reference/openai.mdx
Labels: examples, core, package, docs

#704 docs: updating openai and anthropic examples
  examples/anthropic-examples/README.md
  examples/anthropic-examples/gensx.yaml
  examples/anthropic-examples/index.tsx
  examples/anthropic-examples/nodemon.json
  examples/anthropic-examples/package.json
  examples/anthropic-examples/src/index.ts
  examples/anthropic-examples/src/workflows.ts
  examples/anthropic-examples/tsconfig.build.json
  examples/anthropic-examples/tsconfig.json
  examples/contexts/package.json
  examples/nested-providers/package.json
  examples/openai-examples/.gitignore
  examples/openai-examples/README.md
  examples/openai-examples/gensx.yaml
  examples/openai-examples/index.tsx
  examples/openai-examples/nodemon.json
  examples/openai-examples/package.json
  examples/openai-examples/src/index.ts
  examples/openai-examples/src/workflows.ts
  examples/openai-examples/tsconfig.build.json
  examples/openai-examples/tsconfig.json
  examples/providers/package.json
  examples/reusable-components/package.json
  pnpm-lock.yaml
Labels: examples

#703 feat: Record output for streaming components
  examples/anthropic-examples/package.json
  examples/blog-writer/package.json
  examples/chat-memory/package.json
  examples/hacker-news-analyzer/nodemon.json
  examples/hacker-news-analyzer/package.json
  examples/openai-examples/package.json
  examples/rag/package.json
  examples/text-to-sql/package.json
  examples/vercel-ai/package.json
  examples/vercel-ai/src/index.ts
  examples/vercel-ai/src/workflows.ts
  packages/gensx-core/package.json
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/types.ts
  packages/gensx-core/src/wrap.ts
  packages/gensx-core/tests/component.test.ts
  packages/gensx-core/tests/secrets.test.ts
  packages/gensx-core/tests/utils/executeWithCheckpoints.ts
  packages/gensx-core/tests/wrap.test.ts
  packages/gensx-openai/src/openai.ts
  packages/gensx-openai/tests/openai.test.ts
  packages/gensx-vercel-ai/package.json
  packages/gensx-vercel-ai/src/index.ts
  pnpm-lock.yaml
Labels: examples, core, package

#705 feat: updating examples and supporting comp/wf with no inputs
  examples/all-models-metadata/README.md
  examples/all-models-metadata/gensx.yaml
  examples/all-models-metadata/nodemon.json
  examples/all-models-metadata/package.json
  examples/all-models-metadata/src/index.ts
  examples/all-models-metadata/src/index.tsx
  examples/all-models-metadata/src/workflows.ts
  examples/all-models-metadata/tsconfig.build.json
  examples/all-models-metadata/tsconfig.json
  examples/deep-research/README.md
  examples/deep-research/gensx.yaml
  examples/deep-research/package.json
  examples/deep-research/src/arxiv.ts
  examples/deep-research/src/arxiv.tsx
  examples/deep-research/src/firecrawl.ts
  examples/deep-research/src/firecrawlProvider.tsx
  examples/deep-research/src/grader.ts
  examples/deep-research/src/grader.tsx
  examples/deep-research/src/index.ts
  examples/deep-research/src/queryGenerator.ts
  examples/deep-research/src/queryGenerator.tsx
  examples/deep-research/src/summarize.ts
  examples/deep-research/src/summarize.tsx
  examples/deep-research/src/workflows.ts
  examples/deep-research/src/workflows.tsx
  examples/deep-research/tsconfig.build.json
  examples/deep-research/tsconfig.json
  examples/hacker-news-analyzer/src/workflows.ts
  examples/text-to-sql/package.json
  examples/text-to-sql/src/index.ts
  examples/text-to-sql/src/workflows.ts
  examples/tsconfig.base.json
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/wrap.ts
  packages/gensx-core/tests/component.test.ts
  packages/gensx-core/tests/wrap.test.ts
  packages/gensx-openai/src/openai.ts
  pnpm-lock.yaml
Labels: examples, core, package

#710 fix: fixing checkpoint url and cleaning up hnanalyzer
  examples/hacker-news-analyzer/src/index.ts
  examples/hacker-news-analyzer/src/workflows.ts
  examples/openai-examples/src/index.ts
  packages/gensx-core/src/checkpoint.ts
Labels: examples, core, package

#711 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-claude-md/CHANGELOG.md
  packages/gensx-claude-md/package.json
  packages/gensx-cline-rules/CHANGELOG.md
  packages/gensx-cline-rules/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-cursor-rules/CHANGELOG.md
  packages/gensx-cursor-rules/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-windsurf-rules/CHANGELOG.md
  packages/gensx-windsurf-rules/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#714 feat: making jsdoc comments clearer
  packages/gensx-storage/src/blob/useBlob.ts
  packages/gensx-storage/src/database/useDatabase.ts
  packages/gensx-storage/src/search/useSearch.ts
Labels: package

#716 fix: updating schema detection for v2 programming model
  examples/all-models-metadata/package.json
  examples/anthropic-examples/package.json
  examples/blog-writer/package.json
  examples/chat-memory/package.json
  examples/deep-research/package.json
  examples/groq-deepseek/package.json
  examples/hacker-news-analyzer/package.json
  examples/open-router/package.json
  examples/openai-examples/package.json
  examples/openai-examples/src/workflows.ts
  examples/rag/package.json
  examples/rag/src/initialize.ts
  examples/reflection/package.json
  examples/text-to-sql/package.json
  examples/text-to-sql/tsconfig.json
  examples/vercel-ai/package.json
  packages/gensx/src/dev-server.ts
  packages/gensx/src/utils/schema.ts
  packages/gensx/tests/dev-server.test.ts
  packages/gensx/tests/utils/schema.test.ts
  pnpm-lock.yaml
  release-please-config.json
Labels: examples, cli

#717 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#718 feat: upgrading template from alpha to stable package versions
  packages/gensx/src/templates/projects/typescript/src/workflows.ts.template
  packages/gensx/src/templates/projects/typescript/template.json
  packages/gensx/tests/commands/deploy.test.ts
Labels: cli

#721 feat: updating ai rules to programming model v2
  packages/gensx-claude-md/templates/CLAUDE.md
  packages/gensx-cline-rules/templates/.clinerules
  packages/gensx-cursor-rules/rules/gensx-ai-sdk.mdc
  packages/gensx-cursor-rules/rules/gensx-anthropic.mdc
  packages/gensx-cursor-rules/rules/gensx-openai.mdc
  packages/gensx-cursor-rules/rules/gensx.mdc
  packages/gensx-windsurf-rules/templates/.windsurfrules
Labels: package
