Repository gensx-inc/gensx, pull requests merged in 2025-01, with the labels that each got.

#94 docs: add docs skeleton and first few pages
  docs/astro.config.mjs
  docs/src/content/docs/component-reference/openai.mdx
  docs/src/content/docs/concepts/context.mdx
  docs/src/content/docs/concepts/how-gensx-works.mdx
  docs/src/content/docs/concepts/providers.mdx
  docs/src/content/docs/concepts/workflows.mdx
  docs/src/content/docs/examples/blog-writing.mdx
  docs/src/content/docs/examples/hn.mdx
  docs/src/content/docs/guides/example.md
  docs/src/content/docs/overview.mdx
  docs/src/content/docs/patterns/agents.mdx
  docs/src/content/docs/patterns/rag.mdx
  docs/src/content/docs/patterns/reflection.mdx
  docs/src/content/docs/patterns/streaming.mdx
  docs/src/content/docs/patterns/structured-output.mdx
  docs/src/content/docs/patterns/tools.mdx
  docs/src/content/docs/quickstart.mdx
  docs/src/content/docs/reference/example.md
  docs/src/content/docs/why-jsx.mdx
Labels: docs

#82 chore(main): release gensx-openai 0.1.2
  .release-please-manifest.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
Labels: autorelease: pending, package

#98 fix: fixing typos and other small doc improvements
  docs/src/content/docs/overview.mdx
  docs/src/content/docs/why-jsx.mdx
Labels: docs

#102 feat: Small improvements to the docs frontpage.
  docs/astro.config.mjs
  docs/package.json
  docs/src/assets/logo.svg
  docs/src/content/docs/index.mdx
  pnpm-lock.yaml
Labels: docs

#104 docs: Add dot background pattern to landing page
  docs/src/content/docs/index.mdx
Labels: docs

#90 feat: Implement `createContext` and `useContext`
  packages/create-gensx/package.json
  packages/create-gensx/src/templates/typescript/src/index.tsx.template
  packages/gensx-openai/package.json
  packages/gensx-openai/src/index.tsx
  packages/gensx-openai/tests/helpers.ts
  packages/gensx-openai/tests/index.test.tsx
  packages/gensx-openai/tests/placeholder.test.ts
  packages/gensx-openai/tsconfig.json
  packages/gensx-openai/vite.config.ts
  packages/gensx/src/component.ts
  packages/gensx/src/context.ts
  packages/gensx/src/index.ts
  packages/gensx/src/jsx-runtime.ts
  packages/gensx/src/resolve.ts
  packages/gensx/src/types.ts
  packages/gensx/tests/component.test.tsx
  packages/gensx/tests/context.test.tsx
  packages/gensx/tests/index.test.tsx
  packages/gensx/tests/jsx-runtime.test.tsx
  packages/gensx/tests/provider.test.tsx
  packages/gensx/tests/streaming.test.tsx
  packages/gensx/tsconfig.json
  packages/gensx/vite.config.ts
  pnpm-lock.yaml
Labels: core, package

#115 chore: Fix flakey streaming test.
  packages/gensx/tests/streaming.test.tsx
Labels: core

#122 fix: Update vite-plugin-dts.
  packages/create-gensx/package.json
  packages/gensx-openai/package.json
  packages/gensx/package.json
  pnpm-lock.yaml
Labels: core, package

#119 docs: adding the structured outputs doc
  .github/workflows/test-examples.yml
  docs/src/content/docs/patterns/structured-output.mdx
  docs/src/content/docs/patterns/structured-outputs.mdx
  examples/basicExamples/structuredOutputs/README.md
  examples/basicExamples/structuredOutputs/eslint.config.mjs
  examples/basicExamples/structuredOutputs/index.tsx
  examples/basicExamples/structuredOutputs/nodemon.json
  examples/basicExamples/structuredOutputs/package.json
  examples/basicExamples/structuredOutputs/tsconfig.json
  pnpm-lock.yaml
  turbo.json
Labels: examples, docs

#123 fix: add in missing instruction to examples
  examples/blogWriter/README.md
  examples/hackerNewsAnalyzer/README.md
  examples/streaming/README.md
Labels: examples

#128 docs: adding basic concepts doc and refactoring quickstart
  docs/astro.config.mjs
  docs/src/content/docs/basic-concepts.mdx
  docs/src/content/docs/quickstart.mdx
  packages/create-gensx/src/templates/typescript/src/index.tsx.template
Labels: docs

#120 feat: Add support for component names
  .vscode/settings.json
  docs/src/content/docs/overview.mdx
  docs/src/content/docs/quickstart.mdx
  examples/blogWriter/blogWriter.tsx
  examples/hackerNewsAnalyzer/hackerNewsAnalyzer.tsx
  examples/reflection/index.tsx
  examples/streaming/chatCompletion.tsx
  examples/streaming/index.tsx
  packages/create-gensx/src/templates/typescript/nodemon.json.template
  packages/create-gensx/src/templates/typescript/src/index.tsx.template
  packages/gensx-openai/eslint.config.mjs
  packages/gensx-openai/src/index.tsx
  packages/gensx-openai/tests/index.test.tsx
  packages/gensx/README.md
  packages/gensx/eslint.config.mjs
  packages/gensx/src/component.ts
  packages/gensx/src/context.ts
  packages/gensx/src/index.ts
  packages/gensx/src/iterator.ts
  packages/gensx/src/jsx-runtime.ts
  packages/gensx/src/types.ts
  packages/gensx/tests/component.test.tsx
  packages/gensx/tests/context.test.tsx
  packages/gensx/tests/index.test.tsx
  packages/gensx/tests/jsx-runtime.test.tsx
  packages/gensx/tests/streaming.test.tsx
Labels: examples, core, package, docs

#132 chore: Fixup examples.
  examples/blogWriter/package.json
  examples/hackerNewsAnalyzer/package.json
  examples/reflection/package.json
  examples/streaming/package.json
  examples/structuredOutputs/README.md
  examples/structuredOutputs/eslint.config.mjs
  examples/structuredOutputs/index.tsx
  examples/structuredOutputs/nodemon.json
  examples/structuredOutputs/package.json
  examples/structuredOutputs/tsconfig.json
  pnpm-lock.yaml
Labels: examples

#135 docs: updating readme and adding examples readme
  README.md
  examples/README.md
Labels: examples

#133 docs: adding new `name` param to docs
  docs/src/content/docs/basic-concepts.mdx
  docs/src/content/docs/quickstart.mdx
Labels: docs

#125 docs: Update streaming example to use @gensx/openai.
  examples/streaming/chatCompletion.tsx
  examples/streaming/index.tsx
  examples/streaming/llm.ts
Labels: examples

#143 feat: Add checkpointing
  examples/hackerNewsAnalyzer/hackerNewsAnalyzer.tsx
  examples/hackerNewsAnalyzer/hn.ts
  packages/gensx/src/checkpoint.ts
  packages/gensx/src/component.ts
  packages/gensx/src/context.ts
  packages/gensx/src/resolve.ts
  packages/gensx/src/workflow-context.ts
  packages/gensx/tests/checkpoint.test.tsx
Labels: examples, core

#112 chore(main): release gensx 0.2.3
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#113 chore(main): release gensx-openai 0.1.3
  .release-please-manifest.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
Labels: autorelease: pending, package

#114 chore(main): release create-gensx 0.1.5
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
Labels: autorelease: pending

#149 docs: adding openai component reference
  docs/astro.config.mjs
  docs/src/content/docs/component-reference/openai.mdx
Labels: docs

#152 style: updating all examples to use "start" instead of "run"
  examples/blogWriter/README.md
  examples/blogWriter/package.json
  examples/hackerNewsAnalyzer/README.md
  examples/hackerNewsAnalyzer/package.json
  examples/reflection/README.md
  examples/reflection/package.json
  examples/streaming/README.md
  examples/streaming/package.json
  examples/structuredOutputs/README.md
  examples/structuredOutputs/package.json
Labels: examples

#146 docs: adding example page for hn analyzer and blog writer
  docs/astro.config.mjs
  docs/src/content/docs/examples/blog-writing.mdx
  docs/src/content/docs/examples/hn.mdx
  examples/README.md
Labels: examples, docs

#147 docs: fix docs on streaming
  docs/src/content/docs/basic-concepts.mdx
  docs/src/content/docs/quickstart.mdx
Labels: docs

#155 feat: Add checkpoint support for StreamComponent
  packages/gensx/src/checkpoint.ts
  packages/gensx/src/component.ts
  packages/gensx/tests/checkpoint.test.tsx
Labels: core

#153 feat: Add `gsx.array` plus `map`, `filter`, `reduce`, and `flatMap`
  packages/gensx/src/array.ts
  packages/gensx/src/index.ts
  packages/gensx/tests/array.test.tsx
Labels: core

#170 fix: Fix checkpoint race condition by handling out of order arrival of nodes
  packages/gensx/src/checkpoint.ts
  packages/gensx/src/component.ts
  packages/gensx/tests/checkpoint.test.tsx
Labels: core

#172 chore(main): release gensx 0.2.5
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#173 feat: adding support for generic arrays in gsx.array
  packages/gensx/src/array.ts
  packages/gensx/tests/array.test.tsx
Labels: core

#178 docs: update landing page copy
  docs/src/content/docs/index.mdx
Labels: docs

#179 docs: add discord links and update github links
  .github/actions/create-release-candidate/action.yml
  .github/settings.yml
  README.md
  docs/astro.config.mjs
  docs/src/content/docs/examples/blog-writing.mdx
  docs/src/content/docs/examples/hn.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/patterns/structured-outputs.mdx
  docs/src/content/docs/quickstart.mdx
  packages/create-gensx/CHANGELOG.md
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/README.md
  packages/gensx/CHANGELOG.md
  packages/gensx/README.md
Labels: core, package, docs

#110 feat: adding deep research example
  .github/workflows/test-examples.yml
  README.md
  examples/deepResearch/README.md
  examples/deepResearch/arxiv.tsx
  examples/deepResearch/deepResearch.tsx
  examples/deepResearch/eslint.config.mjs
  examples/deepResearch/firecrawlProvider.tsx
  examples/deepResearch/grader.tsx
  examples/deepResearch/index.tsx
  examples/deepResearch/nodemon.json
  examples/deepResearch/package.json
  examples/deepResearch/queryGenerator.tsx
  examples/deepResearch/summarize.tsx
  examples/deepResearch/tsconfig.json
  packages/gensx/src/array.ts
  packages/gensx/tests/array.test.tsx
  pnpm-lock.yaml
  turbo.json
Labels: examples, core

#182 feat: Add secrets masking
  packages/gensx-openai/src/index.tsx
  packages/gensx/src/checkpoint.ts
  packages/gensx/src/component.ts
  packages/gensx/src/index.ts
  packages/gensx/src/types.ts
  packages/gensx/tests/checkpoint.test.tsx
  packages/gensx/tests/secrets.test.tsx
Labels: core, package

#193 chore(main): release create-gensx 0.1.6
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
Labels: autorelease: pending

#192 chore(main): release gensx 0.2.6
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#194 chore(main): release gensx-openai 0.1.4
  .release-please-manifest.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
Labels: autorelease: pending, package

#198 fix: Fix stream component type inference in child functions
  packages/gensx/src/types.ts
  packages/gensx/tests/streaming.test.tsx
Labels: core

#199 chore(main): release gensx 0.2.7
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#200 fix: update secret component opts for openAI provider
  packages/gensx-openai/src/index.tsx
Labels: package

#201 chore(main): release gensx-openai 0.1.5
  .release-please-manifest.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
Labels: autorelease: pending, package

#180 docs: adding docs for `gsx.array`
  docs/astro.config.mjs
  docs/src/content/docs/concepts/arrays.mdx
  docs/src/content/docs/concepts/context.mdx
  docs/src/content/docs/concepts/how-gensx-works.mdx
  docs/src/content/docs/concepts/workflows.mdx
Labels: docs

#190 docs: simple deepseek r1 component that pull apart thinking and the completion using the groq distilled model
  examples/groq-deepseek-r1-distilled/README.md
  examples/groq-deepseek-r1-distilled/eslint.config.mjs
  examples/groq-deepseek-r1-distilled/nodemon.json
  examples/groq-deepseek-r1-distilled/package-lock.json
  examples/groq-deepseek-r1-distilled/package.json
  examples/groq-deepseek-r1-distilled/src/groq-deepseek-r1-distilled.tsx
  examples/groq-deepseek-r1-distilled/src/index.tsx
  examples/groq-deepseek-r1-distilled/tsconfig.json
  pnpm-lock.yaml
Labels: examples

#202 chore: Throw errors if there are typescript compile errors during build.
  packages/create-gensx/vite.config.ts
  packages/gensx-openai/vite.config.ts
  packages/gensx/vite.config.ts
Labels: core, package

#206 chore: Disable no-empty-object eslint rule.
  docs/src/content/docs/basic-concepts.mdx
  docs/src/content/docs/concepts/context.mdx
  docs/src/env.d.ts
  docs/worker-configuration.d.ts
  eslint.config.mjs
  examples/blogWriter/eslint.config.mjs
  examples/contexts/eslint.config.mjs
  examples/contexts/index.tsx
  examples/deepResearch/eslint.config.mjs
  examples/eslint.config.mjs
  examples/groq-deepseek-r1-distilled/eslint.config.mjs
  examples/hackerNewsAnalyzer/eslint.config.mjs
  examples/providers/eslint.config.mjs
  examples/reflection/eslint.config.mjs
  examples/streaming/eslint.config.mjs
  examples/structuredOutputs/eslint.config.mjs
Labels: examples, docs

#207 feat: adding the ability to rename components via componentOpts
  packages/gensx/src/component.ts
  packages/gensx/src/types.ts
  packages/gensx/tests/component.test.tsx
Labels: core

#189 feat: Update checkpoint call to match the new API shape.
  .github/workflows/check-create-gensx-command.yml
  packages/gensx/src/checkpoint.ts
  packages/gensx/tests/checkpoint.test.tsx
  packages/gensx/tests/component.test.tsx
  packages/gensx/tests/secrets.test.tsx
  packages/gensx/tests/utils/executeWithCheckpoints.ts
Labels: core

#208 chore(main): release gensx 0.2.8
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#213 fix: Remove console.log and fix eslint.
  eslint.config.mjs
  examples/hackerNewsAnalyzer/.gitignore
  packages/create-gensx/src/index.ts
  packages/gensx/src/checkpoint.ts
Labels: examples, core
