Repository gensx-inc/gensx, pull requests merged in 2025-03, with the labels that each got.

#355 chore(main): release create-gensx 0.1.10
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
Labels: autorelease: pending

#351 chore(main): release gensx 0.2.15
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#353 chore(main): release gensx-openai 0.1.9
  .release-please-manifest.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
Labels: autorelease: pending, package

#354 chore(main): release gensx-vercel-ai-sdk 0.1.2
  .release-please-manifest.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
Labels: autorelease: pending, package

#382 chore(main): release gensx-mcp 0.1.1
  .release-please-manifest.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
Labels: autorelease: pending, package

#387 chore(main): release gensx-vercel-ai-sdk 0.1.2
  .release-please-manifest.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
Labels: autorelease: pending, package

#392 fix: Fix typo in MCP example title.
  examples/mcp/README.md
  packages/gensx-mcp/package.json
  website/docs/src/content/examples/mcp.mdx
Labels: examples, package

#61 chore: release main
  .release-please-manifest.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
Labels: autorelease: pending, package

#395 docs: Add open router example
  examples/open-router/README.md
  examples/open-router/eslint.config.mjs
  examples/open-router/nodemon.json
  examples/open-router/package-lock.json
  examples/open-router/package.json
  examples/open-router/src/index.tsx
  examples/open-router/tsconfig.json
  pnpm-lock.yaml
  website/docs/src/content/component-reference/openai.mdx
  website/docs/src/content/component-reference/openrouter.mdx
Labels: examples

#394 docs: add tic tac toe example and blog
  examples/llm-games/Board.ts
  examples/llm-games/Game.tsx
  examples/llm-games/MakeMove.tsx
  examples/llm-games/README.md
  examples/llm-games/Tournament.tsx
  examples/llm-games/eslint.config.mjs
  examples/llm-games/index.tsx
  examples/llm-games/nodemon.json
  examples/llm-games/package.json
  examples/llm-games/tournament_results.jsonl
  examples/llm-games/tsconfig.json
  examples/llm-games/types.tsx
  examples/llm-games/visualize_results.ipynb
  pnpm-lock.yaml
  website/.DS_Store
  website/home/_posts/llm-tic-tac-toe.md
  website/home/components/markdown-to-html.tsx
  website/home/public/assets/blog/authors/derek.jpg
  website/home/public/assets/blog/tic-tac-toe/errors-by-model.png
  website/home/public/assets/blog/tic-tac-toe/errors-reasoning.png
  website/home/public/assets/blog/tic-tac-toe/errors-thinking-vs-not.png
  website/home/public/assets/blog/tic-tac-toe/perf-by-model.png
  website/home/public/assets/blog/tic-tac-toe/perf-reasoning.png
  website/home/public/assets/blog/tic-tac-toe/perf-thinking-vs-not.png
Labels: examples

#399 fix: Fix build
  examples/anthropic/package.json
  examples/blogWriter/package.json
  examples/contexts/package.json
  examples/deepResearch/package.json
  examples/groq-deepseek-r1-distilled/package.json
  examples/gsxChatCompletion/package.json
  examples/hackerNewsAnalyzer/package.json
  examples/llm-games/package.json
  examples/mcp/package.json
  examples/nestedProviders/package.json
  examples/open-router/nodemon.json
  examples/open-router/package-lock.json
  examples/open-router/package.json
  examples/providers/package.json
  examples/reflection/package.json
  examples/reusableComponents/package.json
  examples/salty-ocean-model-comparison/nodemon.json
  examples/salty-ocean-model-comparison/package-lock.json
  examples/salty-ocean-model-comparison/package.json
  examples/self-modifying-code/package.json
  examples/streaming/package.json
  examples/structuredOutputs/package.json
  package.json
  packages/create-gensx/package.json
  packages/create-gensx/tests/package.test.ts
  packages/gensx-anthropic/package.json
  packages/gensx-cli/package.json
  packages/gensx-mcp/package.json
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/home/package-lock.json
  website/home/pnpm-lock.yaml
Labels: examples, core, package

#401 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-cli/CHANGELOG.md
  packages/gensx-cli/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package

#404 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-cli/CHANGELOG.md
  packages/gensx-cli/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package

#409 fix: Cleanup release-please release-as versions
  .release-please-manifest.json
  packages/create-gensx/package.json
  packages/create-gensx/src/cli.ts
  packages/create-gensx/tests/index.test.ts
  packages/create-gensx/tests/package.test.ts
  packages/gensx-anthropic/package.json
  packages/gensx-cli/CHANGELOG.md
  packages/gensx-cli/README.md
  packages/gensx-cli/eslint.config.mjs
  packages/gensx-cli/package.json
  packages/gensx-cli/src/index.ts
  packages/gensx-cli/tsconfig.build.json
  packages/gensx-cli/tsconfig.json
  packages/gensx/package.json
  packages/gensx/src/commands/new.ts
  pnpm-lock.yaml
  release-please-config.json
Labels: core, package

#412 feat: Bundle CLI into an executable
  .github/workflows/release-cli-binary.yml
  .github/workflows/release.yml
  packages/gensx-cli/.gitignore
  packages/gensx-cli/README.md
  packages/gensx-cli/deno.json
  packages/gensx-cli/eslint.config.mjs
  packages/gensx-cli/main.ts
  packages/gensx-cli/tsconfig.json
  packages/gensx/package.json
  packages/gensx/src/commands/login.ts
  packages/gensx/src/commands/new.ts
  packages/gensx/src/index.ts
  packages/gensx/src/run.ts
  packages/gensx/src/utils/config.ts
  packages/gensx/src/utils/terminal.ts
  pnpm-lock.yaml
Labels: core, package

#410 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package

#416 feat: adding support for a workflowName
  packages/gensx-core/src/execute.ts
  packages/gensx-core/tests/execute.test.tsx
Labels: package

#418 fix: fixing types in deep resolve
  packages/gensx-core/src/types.ts
Labels: package

#417 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package

#422 docs: Add example to pull model metadata
  examples/all-models-metadata/README.md
  examples/all-models-metadata/eslint.config.mjs
  examples/all-models-metadata/nodemon.json
  examples/all-models-metadata/package-lock.json
  examples/all-models-metadata/package.json
  examples/all-models-metadata/src/index.tsx
  examples/all-models-metadata/tsconfig.json
  pnpm-lock.yaml
Labels: examples

#439 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#440 feat: support structured outputs via tools in the OpenAIProvider
  packages/gensx-openai/__mocks__/openai.ts
  packages/gensx-openai/src/structured-output.tsx
  packages/gensx-openai/tests/setup.ts
  packages/gensx-openai/tests/structured-output.test.tsx
  website/docs/src/content/component-reference/openai.mdx
  website/docs/src/content/patterns/structured-outputs.mdx
Labels: package

#446 fix: small fixes and updates to cursor rules
  packages/gensx/src/templates/projects/typescript/.cursor/gensx-ai-sdk.mdc
  packages/gensx/src/templates/projects/typescript/.cursor/gensx-anthropic.mdc
  packages/gensx/src/templates/projects/typescript/.cursor/gensx-mcp.mdc
  packages/gensx/src/templates/projects/typescript/.cursor/gensx-openai.mdc
  packages/gensx/src/templates/projects/typescript/.cursor/gensx.mdc
  website/docs/src/content/component-reference/anthropic.mdx
  website/docs/src/content/component-reference/openai.mdx
  website/docs/src/content/component-reference/vercel-ai.mdx
Labels: core

#443 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package

#453 feat: Add Google Analytics to home and docs.
  pnpm-lock.yaml
  website/docs/package.json
  website/docs/src/app/layout.tsx
  website/home/app/layout.tsx
  website/home/package.json
Labels: docs, homepage

#455 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#460 docs: adding example page for computer use
  examples/openai-computer-use/index.tsx
  website/docs/public/docs/computer-use-trace.png
  website/docs/src/content/examples/openai-computer-use.mdx
Labels: examples, docs

#457 fix: Use @types/node for minimum supported version (v18) in packages.
  examples/all-models-metadata/package.json
  examples/anthropic/package.json
  examples/blogWriter/package.json
  examples/contexts/package.json
  examples/deepResearch/package.json
  examples/groq-deepseek-r1-distilled/package.json
  examples/gsxChatCompletion/package.json
  examples/hackerNewsAnalyzer/package.json
  examples/llm-games/package.json
  examples/mcp/package.json
  examples/nestedProviders/package.json
  examples/open-router/package.json
  examples/openai-computer-use/package.json
  examples/providers/package.json
  examples/reflection/package.json
  examples/reusableComponents/package.json
  examples/salty-ocean-model-comparison/package.json
  examples/self-modifying-code/package.json
  examples/streaming/package.json
  examples/structuredOutputs/package.json
  packages/create-gensx/package.json
  packages/create-gensx/tests/package.test.ts
  packages/gensx-anthropic/package.json
  packages/gensx-core/package.json
  packages/gensx-core/src/checkpoint.ts
  packages/gensx-mcp/package.json
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  website/home/public/llms-full.txt
  website/home/public/llms.txt
Labels: examples, core, package, cli, homepage

#462 docs: Add readme for nextjs ai chatbot template example
  examples/nextjs-ai-chatbot-template/README.md
Labels: examples

#469 fix: renaming gsxtoolparams to gsxtoolprops
  packages/gensx-anthropic/src/gsx-completion.tsx
  packages/gensx-anthropic/src/index.tsx
  packages/gensx-anthropic/src/stream.tsx
  packages/gensx-anthropic/src/structured-output.tsx
  packages/gensx-anthropic/src/tools.tsx
  packages/gensx-anthropic/tests/streaming-tools.test.tsx
  packages/gensx-anthropic/tests/structured-output.test.tsx
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/types.ts
  packages/gensx-mcp/src/wrappers.ts
  packages/gensx-openai/src/gsx-completion.tsx
  packages/gensx-openai/src/index.tsx
  packages/gensx-openai/src/stream.tsx
  packages/gensx-openai/src/structured-output.tsx
  packages/gensx-openai/src/tools.tsx
  packages/gensx-openai/tests/tools.test.tsx
Labels: core, package

#466 docs: adding patterns docs for tools
  website/docs/src/content/patterns/tools.mdx
Labels: docs

#467 feat: Add @gensx/cursor-rules package for automatic cursor rule updates
  packages/gensx-cursor-rules/README.md
  packages/gensx-cursor-rules/eslint.config.mjs
  packages/gensx-cursor-rules/package.json
  packages/gensx-cursor-rules/rules/gensx-ai-sdk.mdc
  packages/gensx-cursor-rules/rules/gensx-anthropic.mdc
  packages/gensx-cursor-rules/rules/gensx-mcp.mdc
  packages/gensx-cursor-rules/rules/gensx-openai.mdc
  packages/gensx-cursor-rules/rules/gensx.mdc
  packages/gensx-cursor-rules/scripts/postinstall.js
  pnpm-lock.yaml
  release-please-config.json
Labels: package

#468 feat: Add @gensx/claude-md package for CLAUDE.md templates
  packages/gensx-claude-md/README.md
  packages/gensx-claude-md/eslint.config.mjs
  packages/gensx-claude-md/package.json
  packages/gensx-claude-md/scripts/postinstall.js
  packages/gensx-claude-md/templates/CLAUDE.md
  pnpm-lock.yaml
  release-please-config.json
Labels: package

#471 feat: add @gensx/windsurf-rules package
  packages/gensx-windsurf-rules/README.md
  packages/gensx-windsurf-rules/eslint.config.mjs
  packages/gensx-windsurf-rules/package.json
  packages/gensx-windsurf-rules/scripts/postinstall.js
  packages/gensx-windsurf-rules/templates/.windsurfrules
  release-please-config.json
Labels: package

#458 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-claude-md/CHANGELOG.md
  packages/gensx-cline-rules/CHANGELOG.md
  packages/gensx-cline-rules/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-cursor-rules/CHANGELOG.md
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx-windsurf-rules/CHANGELOG.md
  packages/gensx-windsurf-rules/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#473 feat: Add IDE AI rules integration to gensx new command
  packages/create-gensx/src/cli.ts
  packages/create-gensx/tests/index.test.ts
  packages/create-gensx/tests/package.test.ts
  packages/gensx-claude-md/.gitignore
  packages/gensx-claude-md/scripts/postinstall.js
  packages/gensx-claude-md/templates/CLAUDE.md
  packages/gensx-cline-rules/.gitignore
  packages/gensx-cline-rules/package.json
  packages/gensx-cline-rules/scripts/postinstall.js
  packages/gensx-cline-rules/templates/.clinerules
  packages/gensx-cursor-rules/.gitignore
  packages/gensx-cursor-rules/scripts/postinstall.js
  packages/gensx-windsurf-rules/.gitignore
  packages/gensx-windsurf-rules/eslint.config.mjs
  packages/gensx-windsurf-rules/package.json
  packages/gensx-windsurf-rules/scripts/postinstall.js
  packages/gensx-windsurf-rules/templates/.windsurfrules
  packages/gensx/src/commands/new.ts
  packages/gensx/src/index.ts
  packages/gensx/src/templates/projects/typescript/.cursor/gensx-ai-sdk.mdc
  packages/gensx/src/templates/projects/typescript/.cursor/gensx-anthropic.mdc
  packages/gensx/src/templates/projects/typescript/.cursor/gensx-mcp.mdc
  packages/gensx/src/templates/projects/typescript/.cursor/gensx-openai.mdc
  packages/gensx/src/templates/projects/typescript/.cursor/gensx.mdc
  pnpm-lock.yaml
  website/docs/src/content/quickstart.mdx
Labels: package, docs, cli

#474 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-claude-md/CHANGELOG.md
  packages/gensx-claude-md/package.json
  packages/gensx-cline-rules/CHANGELOG.md
  packages/gensx-cline-rules/package.json
  packages/gensx-cursor-rules/CHANGELOG.md
  packages/gensx-cursor-rules/package.json
  packages/gensx-windsurf-rules/CHANGELOG.md
  packages/gensx-windsurf-rules/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, package, cli

#465 docs: documenting component.run
  examples/groq-deepseek-r1-distilled/README.md
  examples/reflection/reflection.tsx
  website/docs/src/content/basic-concepts.mdx
  website/docs/src/content/component-reference/anthropic.mdx
  website/docs/src/content/component-reference/mcp.mdx
  website/docs/src/content/component-reference/openai.mdx
  website/docs/src/content/component-reference/vercel-ai.mdx
  website/docs/src/content/concepts/how-gensx-works.mdx
  website/docs/src/content/patterns/reflection.mdx
Labels: examples, docs

#478 docs: fix meta description
  website/home/app/layout.tsx
Labels: homepage

#461 feat: Beta commands for serverless execution
  .cursor/rules/rules-location.mdc
  .vscode/settings.json
  CLAUDE.md
  examples/gsxChatCompletion/nodemon.json
  examples/mcp/src/index.tsx
  packages/gensx-core/src/checkpoint.ts
  packages/gensx-core/src/execute.ts
  packages/gensx-core/tests/utils/executeWithCheckpoints.ts
  packages/gensx/package.json
  packages/gensx/src/commands/build.ts
  packages/gensx/src/commands/deploy.ts
  packages/gensx/src/commands/login.ts
  packages/gensx/src/commands/new.ts
  packages/gensx/src/commands/run.ts
  packages/gensx/src/index.ts
  packages/gensx/src/utils/bundler.ts
  packages/gensx/src/utils/config.ts
  packages/gensx/src/utils/first-time-setup.ts
  packages/gensx/src/utils/project-config.ts
  packages/gensx/src/utils/schema.ts
  packages/gensx/src/utils/user-agent.ts
  pnpm-lock.yaml
Labels: examples, core, package, cli

#479 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#481 fix: Fix schema extraction for structured types
  .github/workflows/release-cli-binary.yml
  package.json
  packages/gensx-claude-md/scripts/postinstall.js
  packages/gensx-cli/.gitignore
  packages/gensx-cli/deno.json
  packages/gensx-cli/package.json
  packages/gensx-cline-rules/scripts/postinstall.js
  packages/gensx-cursor-rules/scripts/postinstall.js
  packages/gensx-windsurf-rules/scripts/postinstall.js
  packages/gensx/eslint.config.mjs
  packages/gensx/package.json
  packages/gensx/src/commands/build.ts
  packages/gensx/src/utils/schema.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package, cli

#483 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-claude-md/CHANGELOG.md
  packages/gensx-claude-md/package.json
  packages/gensx-cline-rules/CHANGELOG.md
  packages/gensx-cline-rules/package.json
  packages/gensx-cursor-rules/CHANGELOG.md
  packages/gensx-cursor-rules/package.json
  packages/gensx-windsurf-rules/CHANGELOG.md
  packages/gensx-windsurf-rules/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, package, cli

#488 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-claude-md/CHANGELOG.md
  packages/gensx-claude-md/package.json
  packages/gensx-cline-rules/CHANGELOG.md
  packages/gensx-cline-rules/package.json
  packages/gensx-cursor-rules/CHANGELOG.md
  packages/gensx-cursor-rules/package.json
  packages/gensx-windsurf-rules/CHANGELOG.md
  packages/gensx-windsurf-rules/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, package, cli

#493 fix: Switch to peer dependencies.
  packages/gensx-anthropic/package.json
  packages/gensx-core/package.json
  packages/gensx-mcp/package.json
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/package.json
  pnpm-lock.yaml
Labels: core, package

#495 feat: Support commonjs.
  examples/commonjs-compatibility/README.md
  examples/commonjs-compatibility/eslint.config.mjs
  examples/commonjs-compatibility/index.tsx
  examples/commonjs-compatibility/nodemon.json
  examples/commonjs-compatibility/package.json
  examples/commonjs-compatibility/pure-commonjs.js
  examples/commonjs-compatibility/tsconfig.json
  examples/llm-games/MakeMove.tsx
  examples/openai-computer-use/index.tsx
  package.json
  packages/create-gensx/package.json
  packages/create-gensx/tsconfig.json
  packages/create-gensx/tsup.config.ts
  packages/gensx-anthropic/package.json
  packages/gensx-anthropic/tsconfig.json
  packages/gensx-anthropic/tsup.config.ts
  packages/gensx-cli/deno.json
  packages/gensx-cli/package.json
  packages/gensx-core/package.json
  packages/gensx-core/tsconfig.json
  packages/gensx-core/tsup.config.ts
  packages/gensx-mcp/package.json
  packages/gensx-mcp/tsconfig.json
  packages/gensx-mcp/tsup.config.ts
  packages/gensx-openai/package.json
  packages/gensx-openai/tsconfig.json
  packages/gensx-openai/tsup.config.ts
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx-vercel-ai-sdk/tsconfig.json
  packages/gensx-vercel-ai-sdk/tsup.config.ts
  packages/gensx/package.json
  packages/gensx/src/commands/new.ts
  packages/gensx/tsconfig.json
  packages/gensx/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples, core, package, cli

#494 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#506 fix: Use select instead of multiselect for selecting AI assistant rules.
  packages/create-gensx/package.json
  packages/gensx/src/commands/new.ts
  pnpm-lock.yaml
Labels: cli

#498 fix: Improve tests for rules packages.
  package.json
  packages/create-gensx/tests/index.test.ts
  packages/create-gensx/tests/package.test.ts
  packages/gensx-claude-md/eslint.config.mjs
  packages/gensx-claude-md/package.json
  packages/gensx-claude-md/src/cli.ts
  packages/gensx-claude-md/tests/cli.test.ts
  packages/gensx-claude-md/tsconfig.build.json
  packages/gensx-claude-md/tsconfig.json
  packages/gensx-claude-md/vitest.config.ts
  packages/gensx-cline-rules/eslint.config.mjs
  packages/gensx-cline-rules/package.json
  packages/gensx-cline-rules/src/cli.ts
  packages/gensx-cline-rules/tests/cli.test.ts
  packages/gensx-cline-rules/tsconfig.build.json
  packages/gensx-cline-rules/tsconfig.json
  packages/gensx-cline-rules/vitest.config.ts
  packages/gensx-cursor-rules/eslint.config.mjs
  packages/gensx-cursor-rules/package.json
  packages/gensx-cursor-rules/src/cli.ts
  packages/gensx-cursor-rules/tests/cli.test.ts
  packages/gensx-cursor-rules/tsconfig.build.json
  packages/gensx-cursor-rules/tsconfig.json
  packages/gensx-cursor-rules/vitest.config.ts
  packages/gensx-windsurf-rules/bin/cli.js
  packages/gensx-windsurf-rules/eslint.config.mjs
  packages/gensx-windsurf-rules/package.json
  packages/gensx-windsurf-rules/src/cli.ts
  packages/gensx-windsurf-rules/tests/cli.test.ts
  packages/gensx-windsurf-rules/tsconfig.build.json
  packages/gensx-windsurf-rules/tsconfig.json
  packages/gensx-windsurf-rules/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: package

#504 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-claude-md/CHANGELOG.md
  packages/gensx-claude-md/package.json
  packages/gensx-cline-rules/CHANGELOG.md
  packages/gensx-cline-rules/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-cursor-rules/CHANGELOG.md
  packages/gensx-cursor-rules/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx-windsurf-rules/CHANGELOG.md
  packages/gensx-windsurf-rules/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#507 fix: Ensure we are respecting the env vars for app/api base urls properly.
  packages/gensx/src/utils/config.ts
Labels: cli

#509 fix: Fix type inference for StreamComponent and Provider
  examples/blogWriter/writeBlog.tsx
  examples/llm-games/MakeMove.tsx
  examples/openai-computer-use/index.tsx
  packages/gensx-anthropic/src/gsx-completion.tsx
  packages/gensx-core/src/checkpoint.ts
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/jsx-runtime.ts
  packages/gensx-core/src/types.ts
  packages/gensx-core/tests/component.test.tsx
  packages/gensx-core/tests/context.test.tsx
  packages/gensx-core/tests/execute.test.tsx
  packages/gensx-core/tests/streaming.test.tsx
  packages/gensx-core/tsconfig.build.json
  packages/gensx-core/tsconfig.json
  packages/gensx-openai/src/gsx-completion.tsx
  packages/gensx-openai/src/openai.tsx
  packages/gensx-openai/tests/gsx-completion.test.tsx
  packages/gensx-openai/tests/index.test.tsx
  packages/gensx/package.json
  packages/gensx/src/gsx.tsx
  packages/gensx/src/index.ts
  pnpm-lock.yaml
Labels: examples, core, package, cli

#511 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#518 fix: Fallback to defaults if base URL is not supplied.
  packages/gensx/src/commands/login.ts
  packages/gensx/src/utils/config.ts
Labels: cli

#519 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#521 test: Tests for login and interactivity.
  packages/gensx/package.json
  packages/gensx/src/commands/login.ts
  packages/gensx/src/commands/new.ts
  packages/gensx/src/utils/exec.ts
  packages/gensx/tests/commands/login.test.ts
  packages/gensx/tests/commands/new.test.ts
  packages/gensx/tsconfig.json
  packages/gensx/vitest.config.ts
Labels: cli

#522 fix: Add tslib dependency.
  packages/gensx/package.json
  pnpm-lock.yaml
Labels: cli

#523 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#424 feat: add default client for openai package
  examples/salty-ocean-model-comparison/src/index.tsx
  packages/gensx-openai/src/openai.tsx
  packages/gensx-openai/tests/index.test.tsx
Labels: examples, package

#530 fix: updating cli to match with new api shape
  packages/gensx-openai/__mocks__/openai.ts
  packages/gensx-openai/src/openai.tsx
  packages/gensx-openai/src/structured-output.tsx
  packages/gensx/src/commands/run.ts
Labels: package, cli
