Repository gensx-inc/gensx, pull requests merged in 2025-08, with the labels that each got.

#908 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-client/CHANGELOG.md
  packages/gensx-client/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-react/CHANGELOG.md
  packages/gensx-react/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#931 fix: updating packages to use newer zod version
  examples/self-modifying-code/package.json
  packages/gensx-vercel-ai/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples, package

#932 fix: upgrade zod in gensx/core
  packages/gensx-core/package.json
  pnpm-lock.yaml
Labels: core, package

#933 chore: release main
  .release-please-manifest.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-client/CHANGELOG.md
  packages/gensx-client/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-react/CHANGELOG.md
  packages/gensx-react/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/package.json
Labels: autorelease: pending, core, package

#936 fix: footer github link
  website/home/components/footer.tsx
Labels: homepage
