Repository gensx-inc/gensx, pull requests merged in 2025-04, with the labels that each got.

#525 feat: Bundle with support for native dependencies.
  .github/workflows/build-containers.yml
  containers/builder/Dockerfile
  containers/builder/build.sh
  containers/builder/build_container.sh
  packages/gensx-cli/deno.json
  packages/gensx-cli/package.json
  packages/gensx/package.json
  packages/gensx/src/commands/build.ts
  packages/gensx/src/types/ncc.d.ts
  packages/gensx/src/utils/bundler.ts
  pnpm-lock.yaml
Labels: package, cli

#532 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#524 feat: support a local dev server
  .gitignore
  examples/gsxChatCompletion/.gitignore
  packages/gensx-cli/deno.json
  packages/gensx/package.json
  packages/gensx/src/commands/build.ts
  packages/gensx/src/commands/deploy.ts
  packages/gensx/src/commands/start.ts
  packages/gensx/src/dev-server.ts
  packages/gensx/src/index.ts
  packages/gensx/tests/commands/start.test.ts
  packages/gensx/tests/dev-server.test.ts
  pnpm-lock.yaml
Labels: examples, package, cli

#537 fix: adding platform to docker build command
  packages/gensx/src/utils/bundler.ts
Labels: cli

#539 fix: Update docker namespace.
  containers/builder/build_container.sh
  packages/gensx/src/utils/bundler.ts
Labels: cli

#540 chore: merging updates from derek/storage into evan/storage
  .gitignore
  examples/chat-memory/.gitignore
  examples/chat-memory/package.json
  examples/chat-memory/src/tests.tsx
  examples/chat-memory/src/workflows.tsx
  examples/gsxChatCompletion/.gitignore
  packages/gensx-cli/deno.json
  packages/gensx-core/src/index.ts
  packages/gensx-storage/src/blob/filesystem.ts
  packages/gensx-storage/src/blob/provider.tsx
  packages/gensx-storage/src/blob/remote.ts
  packages/gensx-storage/src/blob/types.ts
  packages/gensx-storage/tests/errors.test.ts
  packages/gensx-storage/tests/filesystem.test.ts
  packages/gensx-storage/tests/index.test.tsx
  packages/gensx-storage/tests/provider.test.tsx
  packages/gensx-storage/tests/remote.test.ts
  packages/gensx-storage/tests/setup.ts
  packages/gensx-storage/tsconfig.json
  packages/gensx/package.json
  packages/gensx/src/commands/build.ts
  packages/gensx/src/commands/deploy.ts
  packages/gensx/src/commands/start.ts
  packages/gensx/src/dev-server.ts
  packages/gensx/src/index.ts
  packages/gensx/src/utils/bundler.ts
  packages/gensx/tests/commands/start.test.ts
  packages/gensx/tests/dev-server.test.ts
  pnpm-lock.yaml
Labels: examples, core, package, cli

#541 feat: add the @gensx/storage package
  examples/chat-memory/.gitignore
  examples/chat-memory/README.md
  examples/chat-memory/eslint.config.mjs
  examples/chat-memory/nodemon.json
  examples/chat-memory/package.json
  examples/chat-memory/request.json
  examples/chat-memory/src/index.tsx
  examples/chat-memory/src/workflows.tsx
  examples/chat-memory/tsconfig.json
  packages/gensx-core/src/index.ts
  packages/gensx-storage/.gitignore
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/README.md
  packages/gensx-storage/eslint.config.mjs
  packages/gensx-storage/package.json
  packages/gensx-storage/src/blob/context.ts
  packages/gensx-storage/src/blob/filesystem.ts
  packages/gensx-storage/src/blob/provider.tsx
  packages/gensx-storage/src/blob/remote.ts
  packages/gensx-storage/src/blob/types.ts
  packages/gensx-storage/src/index.ts
  packages/gensx-storage/tests/filesystem.test.ts
  packages/gensx-storage/tests/index.test.tsx
  packages/gensx-storage/tests/provider.test.tsx
  packages/gensx-storage/tests/remote.test.ts
  packages/gensx-storage/tests/setup.ts
  packages/gensx-storage/tsconfig.build.json
  packages/gensx-storage/tsconfig.json
  packages/gensx-storage/vitest.config.ts
  pnpm-lock.yaml
  release-please-config.json
  website/home/public/llms-full.txt
Labels: examples, core, package, homepage

#544 feat: make kind optional and fix getJson
  examples/chat-memory/src/workflows.tsx
  packages/gensx-storage/src/blob/provider.tsx
  packages/gensx-storage/src/blob/remote.ts
  packages/gensx-storage/src/blob/types.ts
  packages/gensx-storage/tests/provider.test.tsx
  packages/gensx-storage/tests/remote.test.ts
Labels: examples, package

#535 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#549 feat: Migrate to use the traces API.
  packages/gensx-core/src/checkpoint.ts
Labels: core, package

#550 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-claude-md/CHANGELOG.md
  packages/gensx-claude-md/package.json
  packages/gensx-cline-rules/CHANGELOG.md
  packages/gensx-cline-rules/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-cursor-rules/CHANGELOG.md
  packages/gensx-cursor-rules/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx-windsurf-rules/CHANGELOG.md
  packages/gensx-windsurf-rules/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#554 chore: Fix repository that went missing from package.json
  packages/gensx-claude-md/tsconfig.build.json
  packages/gensx-cline-rules/tsconfig.build.json
  packages/gensx-cursor-rules/tsconfig.build.json
  packages/gensx-openai/package.json
  packages/gensx-windsurf-rules/tsconfig.build.json
  turbo.json
Labels: package

#546 feat: Add DatabaseProvider and useDatabase hook
  .vscode/settings.json
  examples/text-to-sql/.gitignore
  examples/text-to-sql/README.md
  examples/text-to-sql/eslint.config.mjs
  examples/text-to-sql/nodemon.json
  examples/text-to-sql/package.json
  examples/text-to-sql/src/data-ingestion.tsx
  examples/text-to-sql/src/index.tsx
  examples/text-to-sql/src/workflows.tsx
  examples/text-to-sql/tsconfig.json
  packages/gensx-storage/package.json
  packages/gensx-storage/src/blob/remote.ts
  packages/gensx-storage/src/blob/types.ts
  packages/gensx-storage/src/database/context.ts
  packages/gensx-storage/src/database/filesystem.ts
  packages/gensx-storage/src/database/provider.tsx
  packages/gensx-storage/src/database/remote.ts
  packages/gensx-storage/src/database/types.ts
  packages/gensx-storage/src/index.ts
  packages/gensx-storage/tests/blob/filesystem.test.ts
  packages/gensx-storage/tests/blob/index.test.tsx
  packages/gensx-storage/tests/blob/provider.test.tsx
  packages/gensx-storage/tests/blob/remote.test.ts
  packages/gensx-storage/tests/database/provider.test.tsx
  pnpm-lock.yaml
  website/home/public/llms.txt
Labels: examples, package, homepage

#555 chore: release main
  .release-please-manifest.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
Labels: autorelease: pending, package

#557 fix: Fix bundling of storage package.
  containers/builder/build.sh
  packages/gensx/src/utils/bundler.ts
  pnpm-lock.yaml
Labels: cli

#564 fix: update docker command to always pull latest image
  packages/gensx/src/utils/bundler.ts
Labels: cli

#570 fix: Don't import json so that there is no warning.
  packages/gensx/src/index.ts
  packages/gensx/src/utils/user-agent.ts
Labels: cli

#569 feat: adding native ts/js support for storage APIs
  examples/rag/README.md
  examples/rag/src/data-ingestion.tsx
  examples/rag/src/index.tsx
  examples/rag/src/workflows.tsx
  examples/text-to-sql/README.md
  examples/text-to-sql/src/data-ingestion.tsx
  examples/text-to-sql/src/index.tsx
  examples/text-to-sql/src/workflows.tsx
  packages/gensx-storage/src/blob/blobClient.ts
  packages/gensx-storage/src/blob/filesystem.ts
  packages/gensx-storage/src/blob/remote.ts
  packages/gensx-storage/src/blob/types.ts
  packages/gensx-storage/src/database/databaseClient.ts
  packages/gensx-storage/src/index.ts
  packages/gensx-storage/src/search/provider.tsx
  packages/gensx-storage/src/search/remote.ts
  packages/gensx-storage/src/search/searchClient.ts
  packages/gensx-storage/src/search/types.ts
  packages/gensx-storage/tests/search/index.test.tsx
  packages/gensx-storage/tests/search/provider.test.tsx
Labels: examples, package

#572 fix: fixing bug in db.batch() for filesystem and adding tests
  packages/gensx-storage/src/database/filesystem.ts
  packages/gensx-storage/tests/database/filesystem.test.ts
  packages/gensx-storage/tests/database/remote.test.ts
Labels: package

#573 chore: updating readme for @gensx/storage
  packages/gensx-storage/README.md
Labels: package

#571 fix: Use the right URL after deployments.
  packages/gensx/src/commands/deploy.ts
Labels: cli

#565 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, package, cli

#577 docs: Added footer and legal docs
  website/home/app/globals.css
  website/home/app/layout.tsx
  website/home/app/legal/privacy-policy/page.tsx
  website/home/app/legal/privacy-policy/privacy-policy.md
  website/home/app/legal/terms-of-service/page.tsx
  website/home/app/legal/terms-of-service/terms-of-service.md
  website/home/app/legal/terms-of-use/page.tsx
  website/home/app/legal/terms-of-use/terms-of-use.md
  website/home/components/MarkdownRenderer.tsx
  website/home/components/footer.tsx
Labels: homepage

#589 docs: Add docs for GenSX Cloud
  website/docs/public/cloud/component-trace.png
  website/docs/public/cloud/console-playground.png
  website/docs/public/cloud/console-workflow-docs.png
  website/docs/public/cloud/console-workflows.png
  website/docs/public/cloud/local-swagger-ui.png
  website/docs/public/cloud/project-structure.png
  website/docs/public/cloud/swagger-execute.png
  website/docs/public/cloud/trace.png
  website/docs/src/content/_meta.ts
  website/docs/src/content/cli-reference/build.mdx
  website/docs/src/content/cli-reference/deploy.mdx
  website/docs/src/content/cli-reference/index.mdx
  website/docs/src/content/cli-reference/login.mdx
  website/docs/src/content/cli-reference/new.mdx
  website/docs/src/content/cli-reference/run.mdx
  website/docs/src/content/cli-reference/start.mdx
  website/docs/src/content/cloud.mdx
  website/docs/src/content/cloud/_meta.ts
  website/docs/src/content/cloud/index.mdx
  website/docs/src/content/cloud/local-development.mdx
  website/docs/src/content/cloud/observability.mdx
  website/docs/src/content/cloud/pricing.mdx
  website/docs/src/content/cloud/projects-environments.mdx
  website/docs/src/content/cloud/serverless-deployments.mdx
  website/docs/src/content/cloud/storage/_meta.ts
  website/docs/src/content/cloud/storage/blob-storage.mdx
  website/docs/src/content/cloud/storage/search.mdx
  website/docs/src/content/cloud/storage/sql-database.mdx
  website/docs/src/content/component-reference/_meta.ts
  website/docs/src/content/component-reference/storage-components/blob-reference.mdx
  website/docs/src/content/component-reference/storage-components/database-reference.mdx
  website/docs/src/content/component-reference/storage-components/search-reference.mdx
  website/docs/src/content/index.mdx
  website/docs/src/content/quickstart.mdx
  website/home/app/page.tsx
  website/home/public/assets/home/deploy.png
  website/home/public/assets/home/trace.png
  website/home/public/llms-full.txt
  website/home/public/llms.txt
Labels: docs, homepage

#605 feat: adding port option to dev server
  packages/gensx/src/commands/start.ts
  packages/gensx/src/index.ts
  website/docs/src/content/cli-reference/start.mdx
Labels: docs, cli

#599 feat: updating search to use the new write api
  examples/rag/src/data-ingestion.tsx
  packages/gensx-storage/README.md
  packages/gensx-storage/package.json
  packages/gensx-storage/src/search/remote.ts
  packages/gensx-storage/src/search/types.ts
  packages/gensx-storage/tests/search/index.test.tsx
  pnpm-lock.yaml
  website/docs/src/content/cloud/storage/search.mdx
  website/docs/src/content/component-reference/storage-components/search-reference.mdx
  website/home/app/page.tsx
Labels: examples, package, docs, homepage

#607 fix: Only instantiate default OpenAI client if there is an OPENAI_API_KEY.
  examples/salty-ocean-model-comparison/src/index.tsx
  packages/gensx-openai/src/openai.tsx
  packages/gensx-openai/src/structured-output.tsx
Labels: examples, package

#604 docs: updating CLI docs and other references to CLI commands + dev server
  website/docs/src/content/cli-reference/_meta.ts
  website/docs/src/content/cli-reference/deploy.mdx
  website/docs/src/content/cli-reference/env/_meta.ts
  website/docs/src/content/cli-reference/env/create.mdx
  website/docs/src/content/cli-reference/env/ls.mdx
  website/docs/src/content/cli-reference/env/select.mdx
  website/docs/src/content/cli-reference/env/show.mdx
  website/docs/src/content/cli-reference/env/unselect.mdx
  website/docs/src/content/cli-reference/index.mdx
  website/docs/src/content/cli-reference/run.mdx
  website/docs/src/content/cli-reference/start.mdx
  website/docs/src/content/cloud/index.mdx
  website/docs/src/content/cloud/local-development.mdx
  website/docs/src/content/cloud/observability.mdx
  website/docs/src/content/cloud/projects-environments.mdx
  website/docs/src/content/cloud/serverless-deployments.mdx
  website/docs/src/content/index.mdx
  website/docs/src/content/quickstart.mdx
Labels: docs

#574 feat: updating CLI commands to use environments
  examples/chat-memory/package.json
  examples/rag/package.json
  examples/text-to-sql/package.json
  packages/gensx/src/commands/deploy.ts
  packages/gensx/src/commands/environment/create.ts
  packages/gensx/src/commands/environment/list.ts
  packages/gensx/src/commands/environment/select.ts
  packages/gensx/src/commands/environment/show.ts
  packages/gensx/src/commands/environment/unselect.ts
  packages/gensx/src/commands/new.ts
  packages/gensx/src/commands/run.ts
  packages/gensx/src/commands/start.ts
  packages/gensx/src/dev-server.ts
  packages/gensx/src/index.ts
  packages/gensx/src/models/environment.ts
  packages/gensx/src/models/projects.ts
  packages/gensx/src/types/api.ts
  packages/gensx/src/types/prompt.ts
  packages/gensx/src/utils/config.ts
  packages/gensx/src/utils/env-config.ts
  packages/gensx/src/utils/project-config.ts
  packages/gensx/tests/commands/deploy.test.ts
  packages/gensx/tests/commands/environment/create.test.ts
  packages/gensx/tests/commands/environment/env.test.ts
  packages/gensx/tests/commands/environment/list.test.ts
  packages/gensx/tests/commands/environment/select.test.ts
  packages/gensx/tests/commands/environment/unselect.test.ts
  packages/gensx/tests/commands/run.test.ts
  packages/gensx/tests/commands/start.test.ts
  packages/gensx/tests/dev-server.test.ts
  website/docs/src/content/cli-reference/_meta.ts
  website/docs/src/content/cli-reference/deploy.mdx
  website/docs/src/content/cli-reference/env/_meta.ts
  website/docs/src/content/cli-reference/env/create.mdx
  website/docs/src/content/cli-reference/env/ls.mdx
  website/docs/src/content/cli-reference/env/select.mdx
  website/docs/src/content/cli-reference/env/show.mdx
  website/docs/src/content/cli-reference/env/unselect.mdx
  website/docs/src/content/cli-reference/index.mdx
  website/docs/src/content/cli-reference/run.mdx
  website/docs/src/content/cli-reference/start.mdx
  website/docs/src/content/cloud/index.mdx
  website/docs/src/content/cloud/local-development.mdx
  website/docs/src/content/cloud/observability.mdx
  website/docs/src/content/cloud/projects-environments.mdx
  website/docs/src/content/cloud/serverless-deployments.mdx
  website/docs/src/content/index.mdx
  website/docs/src/content/quickstart.mdx
Labels: examples, docs, cli

#609 chore: removing flakey dall-e test
  packages/gensx-vercel-ai-sdk/tests/index.test.tsx
Labels: package

#602 feat: GenSX Cloud MCP server
  .release-please-manifest.json
  packages/gensx-cloud-mcp/.gitignore
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/README.md
  packages/gensx-cloud-mcp/claude-desktop.png
  packages/gensx-cloud-mcp/eslint.config.mjs
  packages/gensx-cloud-mcp/package.json
  packages/gensx-cloud-mcp/rollup.config.js
  packages/gensx-cloud-mcp/src/index.tsx
  packages/gensx-cloud-mcp/tsconfig.build.json
  packages/gensx-cloud-mcp/tsconfig.json
  pnpm-lock.yaml
  release-please-config.json
  website/docs/public/cloud/claude-desktop.png
  website/docs/src/content/cloud/_meta.ts
  website/docs/src/content/cloud/mcp-server.mdx
  website/home/public/llms-full.txt
  website/home/public/llms.txt
Labels: package, docs, homepage

#613 fix: removing input wrapper from run command
  packages/gensx/src/commands/run.ts
Labels: cli

#581 feat: adding pagination for list namespaces/databases
  packages/gensx-storage/src/database/databaseClient.ts
  packages/gensx-storage/src/database/filesystem.ts
  packages/gensx-storage/src/database/remote.ts
  packages/gensx-storage/src/database/types.ts
  packages/gensx-storage/src/search/remote.ts
  packages/gensx-storage/src/search/searchClient.ts
  packages/gensx-storage/src/search/types.ts
  packages/gensx-storage/src/utils.ts
  packages/gensx-storage/tests/database/filesystem.test.ts
  packages/gensx-storage/tests/database/remote.test.ts
  packages/gensx-storage/tests/search/index.test.tsx
Labels: package

#606 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, package, cli

#580 feat: adding pagination for list blobs
  packages/gensx-storage/src/blob/blobClient.ts
  packages/gensx-storage/src/blob/filesystem.ts
  packages/gensx-storage/src/blob/remote.ts
  packages/gensx-storage/src/blob/types.ts
  packages/gensx-storage/tests/blob/filesystem.test.ts
  packages/gensx-storage/tests/blob/remote.test.ts
Labels: package

#614 feat: mix fixes to mcp server, docs, etc
  packages/gensx-cloud-mcp/README.md
  packages/gensx-cloud-mcp/src/index.tsx
  website/docs/src/content/cloud/mcp-server.mdx
  website/docs/src/content/cloud/storage/search.mdx
  website/home/public/llms-full.txt
Labels: package, docs, homepage

#616 fix: Use buildId instead of deploymentId.
  packages/gensx/src/commands/deploy.ts
Labels: cli

#615 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, package, cli

#618 feat: add bin to mcp server package.json
  packages/gensx-cloud-mcp/package.json
  packages/gensx-cloud-mcp/rollup.config.js
Labels: package

#619 chore: release main
  .release-please-manifest.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
Labels: autorelease: pending, package

#620 fix: adding user agents
  packages/gensx-cloud-mcp/src/index.tsx
  packages/gensx-cloud-mcp/src/utils/user-agent.ts
  packages/gensx-core/src/checkpoint.ts
  packages/gensx-core/src/utils/user-agent.ts
  packages/gensx-storage/src/blob/filesystem.ts
  packages/gensx-storage/src/blob/remote.ts
  packages/gensx-storage/src/database/filesystem.ts
  packages/gensx-storage/src/database/remote.ts
  packages/gensx-storage/src/search/remote.ts
  packages/gensx-storage/src/utils/base64.ts
  packages/gensx-storage/src/utils/user-agent.ts
  packages/gensx-storage/tests/database/filesystem.test.ts
Labels: core, package

#625 docs: updating pagination docs for storage
  website/docs/src/content/component-reference/storage-components/blob-reference.mdx
  website/docs/src/content/component-reference/storage-components/database-reference.mdx
  website/docs/src/content/component-reference/storage-components/search-reference.mdx
Labels: docs

#626 feat: updating dev server to be at parity with prod APIs
  packages/gensx/src/dev-server.ts
  packages/gensx/tests/dev-server.test.ts
Labels: cli

#629 fix: fixing the execution trace url that's printed
  packages/gensx-core/src/checkpoint.ts
Labels: core, package

#632 feat: updating template project to be deployable
  packages/create-gensx/tests/index.test.ts
  packages/gensx/src/commands/new.ts
  packages/gensx/src/templates/projects/typescript/README.md.template
  packages/gensx/src/templates/projects/typescript/package.json.template
  packages/gensx/src/templates/projects/typescript/src/index.tsx.template
  packages/gensx/src/templates/projects/typescript/src/workflows.tsx.template
Labels: cli

#633 fix: fixing env in run command and allowing empty inputs
  packages/gensx/src/commands/run.ts
  packages/gensx/src/index.ts
Labels: cli

#627 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#642 fix: Remove gating for deploy/environment/etc.
  packages/gensx/src/index.ts
Labels: cli

#643 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#649 chore: release main
  .release-please-manifest.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-mcp/CHANGELOG.md
  packages/gensx-mcp/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
Labels: autorelease: pending, core, package

#652 chore: updating package versions for storage examples
  examples/chat-memory/README.md
  examples/chat-memory/package.json
  examples/rag/package.json
  examples/text-to-sql/package.json
  pnpm-lock.yaml
Labels: examples

#653 fix: fixing but with schema detection only using main file
  examples/rag/src/initialize.tsx
  examples/rag/src/workflows.tsx
  packages/gensx/src/utils/schema.ts
Labels: examples, cli

#656 feat: adding --yes param for bypassing confirmation prompts
  packages/gensx/src/commands/deploy.ts
  packages/gensx/src/commands/run.ts
  packages/gensx/src/index.ts
  packages/gensx/src/utils/env-config.ts
  packages/gensx/tests/commands/deploy.test.ts
Labels: cli

#655 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli
