Repository gensx-inc/gensx, pull requests merged in 2025-02, with the labels that each got.

#218 docs: fix typos in overview
  docs/src/content/docs/overview.mdx
Labels: docs

#231 fix: Separate `children` from other props before component execution
  packages/gensx/src/component.ts
  packages/gensx/src/jsx-runtime.ts
  packages/gensx/src/resolve.ts
  packages/gensx/tests/component.test.tsx
  packages/gensx/tests/jsx-runtime.test.tsx
Labels: core

#232 fix: various fixes for handling of functions and streams during resolution and checkpointing
  packages/gensx/src/checkpoint.ts
  packages/gensx/src/component.ts
  packages/gensx/src/context.ts
  packages/gensx/src/jsx-runtime.ts
  packages/gensx/src/resolve.ts
  packages/gensx/tests/checkpoint.test.tsx
  packages/gensx/tests/component.test.tsx
Labels: core

#215 chore(main): release gensx 0.2.9
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#214 chore(main): release create-gensx 0.1.7
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
Labels: autorelease: pending

#233 docs: updating references to gensx.com
  README.md
  docs/astro.config.mjs
  docs/src/content/docs/basic-concepts.mdx
  examples/contexts/README.md
  examples/groq-deepseek-r1-distilled/README.md
  examples/groq-deepseek-r1-distilled/package.json
  examples/structuredOutputs/README.md
  packages/create-gensx/README.md
  packages/create-gensx/src/templates/typescript/README.md.template
Labels: examples, docs

#237 feat: GSXChatCompletion to support structured output, tools, streaming, and the complete matrix of overlap
  examples/openai-v-next/.gitignore
  examples/openai-v-next/README.md
  examples/openai-v-next/eslint.config.mjs
  examples/openai-v-next/index.tsx
  examples/openai-v-next/nodemon.json
  examples/openai-v-next/package.json
  examples/openai-v-next/tsconfig.json
  packages/gensx-openai/package.json
  packages/gensx-openai/src/gsx-completion.tsx
  packages/gensx-openai/src/index.tsx
  packages/gensx-openai/src/openai.tsx
  packages/gensx-openai/src/stream.tsx
  packages/gensx-openai/src/structured-output.tsx
  packages/gensx-openai/src/tools.tsx
  packages/gensx-openai/tests/index.test.tsx
  pnpm-lock.yaml
Labels: examples, package

#238 chore(main): release gensx-openai 0.1.6
  .release-please-manifest.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
Labels: autorelease: pending, package

#240 docs: updating gsxChatCompletion example
  examples/gsxChatCompletion/.gitignore
  examples/gsxChatCompletion/README.md
  examples/gsxChatCompletion/eslint.config.mjs
  examples/gsxChatCompletion/index.tsx
  examples/gsxChatCompletion/nodemon.json
  examples/gsxChatCompletion/package.json
  examples/gsxChatCompletion/tsconfig.json
  examples/openai-v-next/README.md
  pnpm-lock.yaml
Labels: examples

#248 docs: fixing gsxChatCompletion example
  .github/workflows/test-examples.yml
  examples/gsxChatCompletion/index.tsx
Labels: examples

#251 feat: first round of tool updates
  examples/gsxChatCompletion/index.tsx
  packages/gensx-openai/package.json
  packages/gensx-openai/src/stream.tsx
  packages/gensx-openai/src/structured-output.tsx
  packages/gensx-openai/src/tools.tsx
  packages/gensx-openai/tests/tools.test.tsx
  pnpm-lock.yaml
Labels: examples, package

#255 feat: Add `workflow.run` for executing workflows in a fresh context
  examples/blogWriter/index.ts
  examples/blogWriter/nodemon.json
  examples/blogWriter/package.json
  examples/contexts/index.tsx
  examples/deepResearch/index.ts
  examples/deepResearch/nodemon.json
  examples/deepResearch/package.json
  examples/groq-deepseek-r1-distilled/nodemon.json
  examples/groq-deepseek-r1-distilled/package.json
  examples/groq-deepseek-r1-distilled/src/index.ts
  examples/groq-deepseek-r1-distilled/src/index.tsx
  examples/gsxChatCompletion/index.tsx
  examples/hackerNewsAnalyzer/index.ts
  examples/hackerNewsAnalyzer/nodemon.json
  examples/hackerNewsAnalyzer/package.json
  examples/providers/index.tsx
  examples/reflection/index.tsx
  examples/streaming/index.tsx
  examples/structuredOutputs/index.tsx
  package.json
  packages/gensx-openai/package.json
  packages/gensx/src/array.ts
  packages/gensx/src/checkpoint.ts
  packages/gensx/src/component.ts
  packages/gensx/src/context.ts
  packages/gensx/src/execute.ts
  packages/gensx/src/index.ts
  packages/gensx/src/resolve.ts
  packages/gensx/src/types.ts
  packages/gensx/tests/execute.test.tsx
  packages/gensx/tests/utils/executeWithCheckpoints.ts
  pnpm-lock.yaml
Labels: examples, core, package

#258 feat: Improving Visualization for GSXChatCompletion
  packages/gensx-openai/src/gsx-completion.tsx
  packages/gensx-openai/src/stream.tsx
  packages/gensx-openai/src/structured-output.tsx
  packages/gensx-openai/src/tools.tsx
Labels: package

#262 feat: make GSXChatCompletion return the entire messages array.
  examples/gsxChatCompletion/index.tsx
  packages/gensx-openai/src/gsx-completion.tsx
  packages/gensx-openai/src/index.tsx
  packages/gensx-openai/src/tools.tsx
  packages/gensx-openai/tests/tools.test.tsx
Labels: examples, package

#275 feat: renaming tool.execute to tool.run
  examples/gsxChatCompletion/index.tsx
  packages/gensx-openai/src/tools.tsx
  packages/gensx-openai/tests/tools.test.tsx
Labels: examples, package

#279 feat: capitzalize gsx.Workflow and update examples
  examples/AnalyzeHackerNewsTrends/.gitignore
  examples/AnalyzeHackerNewsTrends/README.md
  examples/AnalyzeHackerNewsTrends/analyzeHNTrends.tsx
  examples/AnalyzeHackerNewsTrends/eslint.config.mjs
  examples/AnalyzeHackerNewsTrends/hn.ts
  examples/AnalyzeHackerNewsTrends/index.ts
  examples/AnalyzeHackerNewsTrends/nodemon.json
  examples/AnalyzeHackerNewsTrends/package.json
  examples/AnalyzeHackerNewsTrends/tsconfig.json
  examples/blogWriter/blogWriter.tsx
  examples/blogWriter/index.ts
  examples/contexts/index.tsx
  examples/deepResearch/arxiv.tsx
  examples/deepResearch/deepResearch.tsx
  examples/deepResearch/index.ts
  examples/deepResearch/queryGenerator.tsx
  examples/groq-deepseek-r1-distilled/src/index.ts
  examples/gsxChatCompletion/index.tsx
  examples/providers/index.tsx
  examples/reflection/index.tsx
  examples/streaming/index.tsx
  examples/structuredOutputs/index.tsx
  packages/create-gensx/src/templates/typescript/src/index.tsx.template
  packages/gensx/src/execute.ts
  packages/gensx/src/index.ts
  packages/gensx/tests/execute.test.tsx
  packages/gensx/tests/utils/executeWithCheckpoints.ts
  pnpm-lock.yaml
Labels: examples, core

#282 chore(main): release gensx-cli 0.1.0
  .release-please-manifest.json
  packages/gensx-cli/CHANGELOG.md
  packages/gensx-cli/package.json
Labels: autorelease: pending, package

#259 chore(main): release gensx 0.2.10
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#247 chore(main): release gensx-openai 0.1.7
  .release-please-manifest.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
Labels: autorelease: pending, package

#281 docs: updating examples, fixing links, renaming hn example
  README.md
  docs/src/content/docs/basic-concepts.mdx
  docs/src/content/docs/concepts/context.mdx
  examples/blogWriter/index.ts
  examples/blogWriter/writeBlog.tsx
  examples/contexts/README.md
  examples/hackerNewsAnalyzer/.gitignore
  examples/hackerNewsAnalyzer/README.md
  examples/hackerNewsAnalyzer/analyzeHNTrends.tsx
  examples/hackerNewsAnalyzer/eslint.config.mjs
  examples/hackerNewsAnalyzer/hn.ts
  examples/hackerNewsAnalyzer/index.ts
  examples/hackerNewsAnalyzer/nodemon.json
  examples/hackerNewsAnalyzer/package.json
  examples/hackerNewsAnalyzer/tsconfig.json
  examples/providers/README.md
  examples/providers/index.tsx
  examples/reflection/index.tsx
  examples/structuredOutputs/README.md
  pnpm-lock.yaml
  website/docs/src/content/basic-concepts.mdx
  website/docs/src/content/cloud.mdx
  website/docs/src/content/concepts/context.mdx
Labels: examples, docs

#234 chore(main): release create-gensx 0.1.8
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
Labels: autorelease: pending

#289 chore(main): release gensx-cli 0.1.1
  .release-please-manifest.json
  packages/gensx-cli/CHANGELOG.md
  packages/gensx-cli/package.json
Labels: autorelease: pending, package

#290 chore(main): release gensx 0.2.11
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#285 chore: Remove /docs now that we have gensx-docs
  docs/.gitignore
  docs/README.md
  docs/astro.config.mjs
  docs/eslint.config.mjs
  docs/package.json
  docs/public/favicon.svg
  docs/public/logo.svg
  docs/public/splash.png
  docs/src/assets/logo.svg
  docs/src/components/ThemeProvider.astro
  docs/src/components/ThemeSelect.astro
  docs/src/content.config.ts
  docs/src/content/docs/basic-concepts.mdx
  docs/src/content/docs/component-reference/openai.mdx
  docs/src/content/docs/concepts/arrays.mdx
  docs/src/content/docs/concepts/context.mdx
  docs/src/content/docs/examples/blog-writing.mdx
  docs/src/content/docs/examples/hn.mdx
  docs/src/content/docs/index.mdx
  docs/src/content/docs/overview.mdx
  docs/src/content/docs/patterns/agents.mdx
  docs/src/content/docs/patterns/rag.mdx
  docs/src/content/docs/patterns/reflection.mdx
  docs/src/content/docs/patterns/streaming.mdx
  docs/src/content/docs/patterns/structured-outputs.mdx
  docs/src/content/docs/patterns/tools.mdx
  docs/src/content/docs/quickstart.mdx
  docs/src/content/docs/why-jsx.mdx
  docs/src/env.d.ts
  docs/src/styles/hideHeader.css
  docs/src/tailwind.css
  docs/tailwind.config.mjs
  docs/tsconfig.json
  docs/worker-configuration.d.ts
  docs/wrangler.toml
Labels: docs

#298 fix: Don't use global crypto.
  packages/gensx-cli/src/commands/login.ts
Labels: package

#303 feat: Colorize login command.
  packages/gensx-cli/src/commands/login.ts
  packages/gensx-cli/src/logger.ts
Labels: package

#302 chore(main): release create-gensx 0.1.9
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
Labels: autorelease: pending

#300 chore(main): release gensx-cli 0.1.2
  .release-please-manifest.json
  packages/gensx-cli/CHANGELOG.md
  packages/gensx-cli/package.json
Labels: autorelease: pending, package

#301 chore(main): release gensx 0.2.12
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#297 docs: updating docs to use workflow.run, fixing links, and updating examples
  examples/hackerNewsAnalyzer/analyzeHNTrends.tsx
  website/docs/src/content/_meta.ts
  website/docs/src/content/basic-concepts.mdx
  website/docs/src/content/concepts/arrays.mdx
  website/docs/src/content/concepts/context.mdx
  website/docs/src/content/examples/blog-writing.mdx
  website/docs/src/content/examples/hn.mdx
  website/docs/src/content/index.mdx
  website/docs/src/content/patterns/agents.mdx
  website/docs/src/content/patterns/rag.mdx
  website/docs/src/content/patterns/reflection.mdx
  website/docs/src/content/patterns/streaming.mdx
  website/docs/src/content/patterns/structured-outputs.mdx
  website/docs/src/content/patterns/tools.mdx
  website/docs/src/content/quickstart.mdx
  website/docs/src/content/why-jsx.mdx
Labels: examples

#230 docs: adding self-reflection doc and updating example
  docs/src/content/docs/concepts/arrays.mdx
  docs/src/content/docs/concepts/context.mdx
  docs/src/content/docs/concepts/reusable-component.mdx
  examples/reflection/README.md
  examples/reflection/index.tsx
  examples/reflection/reflection.tsx
  website/docs/src/content/patterns/reflection.mdx
Labels: examples, docs

#308 feat: Handle errors when executing workflow
  packages/gensx/package.json
  packages/gensx/src/component.ts
  packages/gensx/src/execute.ts
  packages/gensx/tests/checkpoint.test.tsx
  packages/gensx/tests/utils/executeWithCheckpoints.ts
  pnpm-lock.yaml
Labels: core

#314 feat: new component package for ai sdk package support
  packages/gensx-ai-sdk/.gitignore
  packages/gensx-ai-sdk/README.md
  packages/gensx-ai-sdk/eslint.config.mjs
  packages/gensx-ai-sdk/package.json
  packages/gensx-ai-sdk/src/index.tsx
  packages/gensx-ai-sdk/tests/index.test.tsx
  packages/gensx-ai-sdk/tsconfig.json
  packages/gensx-ai-sdk/vite.config.ts
  packages/gensx-ai-sdk/vitest.config.ts
  pnpm-lock.yaml
  release-please-config.json
Labels: package

#319 chore(main): release gensx-ai-sdk 0.1.0
  .release-please-manifest.json
  packages/gensx-ai-sdk/CHANGELOG.md
  packages/gensx-ai-sdk/package.json
Labels: autorelease: pending, package

#321 feat: new component package for Vercel AI SDK package support #314
  .release-please-manifest.json
  packages/gensx-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/.gitignore
  packages/gensx-vercel-ai-sdk/README.md
  packages/gensx-vercel-ai-sdk/eslint.config.mjs
  packages/gensx-vercel-ai-sdk/package.json
  packages/gensx-vercel-ai-sdk/src/index.tsx
  packages/gensx-vercel-ai-sdk/tests/index.test.tsx
  packages/gensx-vercel-ai-sdk/tsconfig.json
  packages/gensx-vercel-ai-sdk/vite.config.ts
  packages/gensx-vercel-ai-sdk/vitest.config.ts
  pnpm-lock.yaml
  release-please-config.json
Labels: package

#322 chore(main): release gensx-vercel-ai-sdk 0.1.0
  .release-please-manifest.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
Labels: autorelease: pending, package

#307 feat: Prompt for login when calling new the first time.
  packages/gensx-cli/src/commands/login.ts
  packages/gensx-cli/src/commands/new.ts
  packages/gensx-cli/src/index.ts
  packages/gensx-cli/src/utils/config.ts
  packages/gensx-cli/src/utils/terminal.ts
Labels: package

#324 chore(main): release gensx-cli 0.1.3
  .release-please-manifest.json
  packages/gensx-cli/CHANGELOG.md
  packages/gensx-cli/package.json
Labels: autorelease: pending, package

#316 chore(main): release gensx 0.2.13
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#313 fix: clone objects in checkpoints to prevent mutated objects from mes…
  packages/gensx/src/checkpoint.ts
Labels: core

#339 fix: Constrain prop types to be an object
  packages/gensx-vercel-ai-sdk/src/index.tsx
  packages/gensx/src/component.ts
  packages/gensx/src/execute.ts
  packages/gensx/tests/execute.test.tsx
Labels: core, package

#337 fix: making structured outputs work with tools
  examples/gsxChatCompletion/index.tsx
  packages/gensx-openai/src/stream.tsx
  packages/gensx-openai/src/structured-output.tsx
  packages/gensx-openai/src/tools.tsx
  packages/gensx-openai/tests/tools.test.tsx
Labels: examples, package

#345 feat: Component.run
  packages/gensx/src/component.ts
  packages/gensx/src/types.ts
  packages/gensx/tests/component.test.tsx
Labels: core

#346 fix: Fix type inference got GSXChatCompletion.
  packages/gensx-openai/__mocks__/openai.ts
  packages/gensx-openai/package.json
  packages/gensx-openai/src/gsx-completion.tsx
  packages/gensx-openai/src/index.tsx
  packages/gensx-openai/tests/gsx-completion.test.tsx
  packages/gensx-openai/tests/helpers.ts
  packages/gensx-openai/tests/index.test.tsx
  packages/gensx-openai/tests/setup.ts
  packages/gensx-openai/tests/structured-output.test.tsx
  packages/gensx-openai/tests/tools.test.tsx
  packages/gensx-openai/tsconfig.json
  packages/gensx-openai/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: package

#333 chore(main): release gensx 0.2.14
  .release-please-manifest.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core

#341 chore(main): release gensx-openai 0.1.8
  .release-please-manifest.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
Labels: autorelease: pending, package

#340 chore(main): release gensx-vercel-ai-sdk 0.1.1
  .release-please-manifest.json
  packages/gensx-vercel-ai-sdk/CHANGELOG.md
  packages/gensx-vercel-ai-sdk/package.json
Labels: autorelease: pending, package

#352 chore(main): release gensx-anthropic 0.1.0
  .release-please-manifest.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
Labels: autorelease: pending, package

#357 docs: adding the self-modifying-code example
  .vscode/settings.json
  examples/self-modifying-code/.gitignore
  examples/self-modifying-code/README.md
  examples/self-modifying-code/agent/codeAgent.tsx
  examples/self-modifying-code/agent/smcAgent.tsx
  examples/self-modifying-code/agent/steps/generateGoalState.tsx
  examples/self-modifying-code/agent/steps/generatePlan.tsx
  examples/self-modifying-code/agent/tools/bashTool.tsx
  examples/self-modifying-code/agent/tools/buildTool.tsx
  examples/self-modifying-code/agent/tools/editTool.tsx
  examples/self-modifying-code/agent_context.json
  examples/self-modifying-code/eslint.config.mjs
  examples/self-modifying-code/index.tsx
  examples/self-modifying-code/nodemon.json
  examples/self-modifying-code/package.json
  examples/self-modifying-code/tsconfig.json
  examples/self-modifying-code/workspace.tsx
  packages/gensx-openai/tests/gsx-completion.test.tsx
  pnpm-lock.yaml
Labels: examples, package

#362 docs: updating firecrawl example to hide secret
  examples/providers/firecrawlProvider.tsx
  website/docs/src/content/concepts/context.mdx
Labels: examples

#368 docs: Salty ocean example
  examples/salty-ocean-model-comparison/README.md
  examples/salty-ocean-model-comparison/nodemon.json
  examples/salty-ocean-model-comparison/package-lock.json
  examples/salty-ocean-model-comparison/package.json
  examples/salty-ocean-model-comparison/src/index.tsx
  examples/salty-ocean-model-comparison/tsconfig.json
  packages/gensx-anthropic/src/anthropic.tsx
  pnpm-lock.yaml
Labels: examples, package

#372 feat: improving the checkpoint output for tools and structured outputs
  examples/anthropic/index.tsx
  packages/gensx-anthropic/src/gsx-completion.tsx
  packages/gensx-anthropic/src/tools.tsx
  packages/gensx-anthropic/src/utils/zod-extensions.ts
  packages/gensx-openai/src/gsx-completion.tsx
  packages/gensx-openai/src/tools.tsx
  packages/gensx-openai/src/utils/zod-extensions.ts
  packages/gensx/src/checkpoint.ts
  packages/gensx/tests/checkpoint.test.tsx
Labels: examples, core, package
