Repository gensx-inc/gensx, pull requests merged in 2025-06, with the labels that each got.

#723 chore: improving flakiness of deploy tests and updating eslint
  eslint.config.mjs
  packages/gensx/tests/commands/deploy.test.ts
Labels: cli

#722 docs: updating documentation to programming model v2
  README.md
  examples/reflection/src/index.ts
  examples/reflection/src/workflows.ts
  packages/gensx-anthropic/README.md
  packages/gensx-storage/README.md
  website/docs/src/content/_meta.ts
  website/docs/src/content/basic-concepts.mdx
  website/docs/src/content/cli-reference/build.mdx
  website/docs/src/content/cli-reference/deploy.mdx
  website/docs/src/content/cli-reference/index.mdx
  website/docs/src/content/cli-reference/start.mdx
  website/docs/src/content/cloud/index.mdx
  website/docs/src/content/cloud/local-development.mdx
  website/docs/src/content/cloud/observability.mdx
  website/docs/src/content/cloud/projects-environments.mdx
  website/docs/src/content/cloud/serverless-deployments.mdx
  website/docs/src/content/cloud/storage/blob-storage.mdx
  website/docs/src/content/cloud/storage/search.mdx
  website/docs/src/content/cloud/storage/sql-database.mdx
  website/docs/src/content/component-reference/_meta.ts
  website/docs/src/content/component-reference/anthropic.mdx
  website/docs/src/content/component-reference/mcp.mdx
  website/docs/src/content/component-reference/openai.mdx
  website/docs/src/content/component-reference/openrouter.mdx
  website/docs/src/content/component-reference/vercel-ai.mdx
  website/docs/src/content/examples/blog-writing.mdx
  website/docs/src/content/examples/hn.mdx
  website/docs/src/content/examples/mcp.mdx
  website/docs/src/content/how-gensx-works.mdx
  website/docs/src/content/index.mdx
  website/docs/src/content/patterns/reflection.mdx
  website/docs/src/content/typescript-compatibility.mdx
  website/docs/src/content/why-components.mdx
  website/docs/src/content/why-jsx.mdx
  website/home/app/page.tsx
  website/home/next.config.ts
Labels: examples, package, docs, homepage

#726 docs: updating quickstart
  examples/rag/src/initialize.ts
  website/docs/public/quickstart/api-docs.png
  website/docs/public/quickstart/gensx-login.png
  website/docs/public/quickstart/gensx-new.png
  website/docs/public/quickstart/gensx-run.png
  website/docs/public/quickstart/login-success.png
  website/docs/public/quickstart/login.png
  website/docs/public/quickstart/run-console.png
  website/docs/public/quickstart/trace-rag.png
  website/docs/public/quickstart/trace.png
  website/docs/src/content/_meta.ts
  website/docs/src/content/quickstart.mdx
  website/docs/src/content/why-components.mdx
  website/home/app/page.tsx
Labels: examples, docs, homepage

#730 docs: removing mentions of jsx and other updates
  README.md
  examples/README.md
  packages/gensx-core/README.md
  packages/gensx-storage/README.md
  website/docs/src/content/why-components.mdx
  website/home/scripts/generate-llms-txt.ts
Labels: examples, core, package, docs, homepage

#733 docs: update homepage messaging
  website/home/app/page.tsx
Labels: homepage

#734 docs: homepage updates
  website/home/app/page.tsx
Labels: homepage

#737 docs: more minor doc/example updates
  examples/README.md
  examples/reflection/README.md
  pnpm-lock.yaml
  website/docs/src/content/basic-concepts.mdx
  website/docs/src/content/cli-reference/env/create.mdx
  website/docs/src/content/cloud/index.mdx
  website/docs/src/content/cloud/local-development.mdx
  website/docs/src/content/cloud/mcp-server.mdx
  website/docs/src/content/cloud/observability.mdx
  website/docs/src/content/cloud/projects-environments.mdx
  website/docs/src/content/component-reference/storage-components/blob-reference.mdx
  website/docs/src/content/examples/openai-computer-use.mdx
  website/docs/src/content/index.mdx
  website/docs/src/content/patterns/reflection.mdx
  website/docs/src/content/patterns/structured-outputs.mdx
  website/docs/src/content/patterns/tools.mdx
  website/docs/src/content/quickstart.mdx
  website/docs/src/content/typescript-compatibility.mdx
  website/docs/src/content/why-components.mdx
Labels: examples, docs

#727 fix: persist environment selection in CLI after deployments
  packages/gensx/src/commands/deploy.tsx
  packages/gensx/tests/commands/deploy.test.ts
Labels: cli, codex

#725 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#740 fix: Remove sleep during streaming progress
  packages/gensx-core/src/component.ts
Labels: core, package, codex

#744 docs: add gensx yaml for blog writer to make it deployable
  examples/blog-writer/gensx.yaml
Labels: examples

#739 docs: Fix typo in docs
  website/docs/src/content/quickstart.mdx
Labels: docs, codex

#743 feat: Update HN example to use emitProgress.
  examples/hacker-news-analyzer/package.json
  examples/hacker-news-analyzer/src/workflows.ts
  pnpm-lock.yaml
Labels: examples

#762 feat: updating emitProgress to support nested objects
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/workflow-context.ts
  packages/gensx-core/tests/progress.test.ts
Labels: core, package

#765 feat: supporting local dev in next example
  examples/draft-pad/.gitignore
  examples/draft-pad/app/api/gensx/route.ts
  examples/draft-pad/app/page.tsx
  examples/draft-pad/gensx/event-types.ts
  examples/draft-pad/gensx/workflows.ts
  examples/draft-pad/package.json
  examples/draft-pad/tsconfig.json
  packages/gensx-client/src/sdk.ts
  packages/gensx-client/tsconfig.json
  packages/gensx-client/tsconfig.tsbuildinfo
  packages/gensx-react/src/hooks/use-gensx.ts
  pnpm-lock.yaml
Labels: examples, package

#764 feat: Add helpers for event stream and state.
  packages/gensx-core/package.json
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/workflow-context.ts
  packages/gensx-core/src/workflow-state.ts
  packages/gensx-core/tests/workflow-state.test.ts
  pnpm-lock.yaml
Labels: core, package

#786 feat: adding project cli commands
  packages/gensx/src/commands/project/create.tsx
  packages/gensx/src/commands/project/list.tsx
  packages/gensx/src/commands/project/show.tsx
  packages/gensx/src/index.ts
  packages/gensx/src/models/workflows.ts
  packages/gensx/tests/commands/project/create.test.ts
  packages/gensx/tests/commands/project/list.test.ts
  packages/gensx/tests/commands/project/show.test.ts
  website/docs/src/content/cli-reference/_meta.ts
  website/docs/src/content/cli-reference/index.mdx
  website/docs/src/content/cli-reference/project/_meta.ts
  website/docs/src/content/cli-reference/project/create.mdx
  website/docs/src/content/cli-reference/project/ls.mdx
  website/docs/src/content/cli-reference/project/show.mdx
Labels: docs, cli

#787 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-client/CHANGELOG.md
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-react/CHANGELOG.md
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#783 feat: enable checkpoint replay
  packages/gensx-core/src/checkpoint-types.ts
  packages/gensx-core/src/checkpoint.ts
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/types.ts
  packages/gensx-core/src/wait-for-input.ts
  packages/gensx-core/src/workflow-context.ts
  packages/gensx-core/tests/checkpoint.test.ts
  packages/gensx-core/tests/replay.test.ts
Labels: core, package

#793 feat: Checkpoint restoration
  packages/gensx-core/src/checkpoint-types.ts
  packages/gensx-core/src/checkpoint.ts
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/restore-checkpoint.ts
  packages/gensx-core/src/wait-for-input.ts
  packages/gensx-core/src/workflow-context.ts
  packages/gensx-core/tests/checkpoint.test.ts
  packages/gensx-core/tests/replay.test.ts
  packages/gensx-core/tests/restore-checkpoint.test.ts
  packages/gensx-core/tests/sequence-number-replay.test.ts
  packages/gensx-core/tests/utils/executeWithCheckpoints.ts
  packages/gensx-core/tests/wait-for-input.test.ts
  packages/gensx-core/tests/workflow-context.test.ts
Labels: core, package

#797 feat: Add --progress CLI param for run command to stream the progress events after calling start.
  packages/gensx/src/commands/run.tsx
  packages/gensx/src/index.ts
Labels: cli

#798 feat: Update name from waitForInput to requestInput.
  packages/gensx-core/src/component.ts
  packages/gensx-core/src/context.ts
  packages/gensx-core/src/index.ts
  packages/gensx-core/src/request-input.ts
  packages/gensx-core/src/workflow-context.ts
  packages/gensx-core/tests/request-input.test.ts
  packages/gensx-core/tests/workflow-context.test.ts
Labels: core, package

#792 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-client/CHANGELOG.md
  packages/gensx-client/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-react/CHANGELOG.md
  packages/gensx-react/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#791 docs: updated draft pad example
  examples/draft-pad/README.md
  examples/draft-pad/app/api/models/route.ts
  examples/draft-pad/app/globals.css
  examples/draft-pad/app/layout.tsx
  examples/draft-pad/app/page.tsx
  examples/draft-pad/components/ui/card.tsx
  examples/draft-pad/components/ui/draft-editor-card.tsx
  examples/draft-pad/components/ui/draft-stats-card.tsx
  examples/draft-pad/components/ui/live-cost-display.tsx
  examples/draft-pad/components/ui/model-grid-selector.tsx
  examples/draft-pad/components/ui/model-info.tsx
  examples/draft-pad/components/ui/model-selector.tsx
  examples/draft-pad/components/ui/model-stream-card.tsx
  examples/draft-pad/components/ui/provider-filter.tsx
  examples/draft-pad/components/ui/provider-icon.tsx
  examples/draft-pad/components/ui/select.tsx
  examples/draft-pad/gensx/workflows.ts
  examples/draft-pad/lib/models.ts
  examples/draft-pad/package.json
  examples/draft-pad/scripts/deploy.sh
  packages/gensx-core/src/workflow-state.ts
  packages/gensx-react/package.json
  packages/gensx-react/src/hooks/use-gensx.ts
  packages/gensx/src/dev-server.ts
  pnpm-lock.yaml
Labels: examples, core, package, cli

#802 fix: remove duplicate export from gensx/client
  packages/gensx-client/src/index.ts
Labels: package

#804 fix: move to react 19 types
  examples/draft-pad/package.json
  pnpm-lock.yaml
Labels: examples

#800 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-client/CHANGELOG.md
  packages/gensx-client/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-react/CHANGELOG.md
  packages/gensx-react/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, core, package, cli

#809 docs: GenSX Cloud launch blog
  website/docs/src/content/cloud/index.mdx
  website/docs/src/content/cloud/serverless-deployments.mdx
  website/home/_posts/gensx-cloud.md
  website/home/public/assets/blog/gensx-cloud/tracing.png
Labels: docs, homepage

#811 fix: update dashboard URL format to use env query parameter
  packages/gensx/src/commands/deploy.tsx
Labels: cli

#812 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#810 feat: improving dev server
  packages/gensx-cli/deno.json
  packages/gensx/package.json
  packages/gensx/src/commands/start.tsx
  packages/gensx/src/index.ts
  packages/gensx/tests/commands/start.test.ts
  pnpm-lock.yaml
Labels: package, cli

#813 chore: release main
  .release-please-manifest.json
  packages/create-gensx/CHANGELOG.md
  packages/create-gensx/package.json
  packages/gensx/CHANGELOG.md
  packages/gensx/package.json
Labels: autorelease: pending, cli

#794 feat: adding chat ux example
  examples/anthropic-examples/package.json
  examples/blog-writer/package.json
  examples/chat-memory/package.json
  examples/chat-ux/.gitignore
  examples/chat-ux/README.md
  examples/chat-ux/app/api/chats/[userId]/[threadId]/route.ts
  examples/chat-ux/app/api/chats/[userId]/route.ts
  examples/chat-ux/app/api/gensx/route.ts
  examples/chat-ux/app/globals.css
  examples/chat-ux/app/layout.tsx
  examples/chat-ux/app/page.tsx
  examples/chat-ux/components/ChatHistory.tsx
  examples/chat-ux/components/ChatInput.tsx
  examples/chat-ux/components/ChatMessage.tsx
  examples/chat-ux/components/MarkdownContent.tsx
  examples/chat-ux/components/ToolMessage.tsx
  examples/chat-ux/components/ui/button.tsx
  examples/chat-ux/components/ui/textarea.tsx
  examples/chat-ux/eslint.config.mjs
  examples/chat-ux/gensx.yaml
  examples/chat-ux/gensx/agent.ts
  examples/chat-ux/gensx/tools/scrapePage.ts
  examples/chat-ux/gensx/tools/webSearch.ts
  examples/chat-ux/gensx/workflows.ts
  examples/chat-ux/hooks/useChat.ts
  examples/chat-ux/lib/userId.ts
  examples/chat-ux/lib/utils.ts
  examples/chat-ux/next.config.ts
  examples/chat-ux/package.json
  examples/chat-ux/postcss.config.mjs
  examples/chat-ux/public/chat-ux.png
  examples/chat-ux/public/favicon.ico
  examples/chat-ux/public/github-mark.svg
  examples/chat-ux/public/logo.svg
  examples/chat-ux/tsconfig.json
  examples/deep-research/package.json
  examples/draft-pad/package.json
  examples/openai-examples/package.json
  examples/rag/package.json
  examples/reflection/package.json
  examples/text-to-sql/package.json
  examples/vercel-ai/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: examples

#816 chore: release main
  .release-please-manifest.json
  packages/gensx-anthropic/CHANGELOG.md
  packages/gensx-anthropic/package.json
  packages/gensx-client/CHANGELOG.md
  packages/gensx-client/package.json
  packages/gensx-cloud-mcp/CHANGELOG.md
  packages/gensx-cloud-mcp/package.json
  packages/gensx-core/CHANGELOG.md
  packages/gensx-core/package.json
  packages/gensx-openai/CHANGELOG.md
  packages/gensx-openai/package.json
  packages/gensx-react/CHANGELOG.md
  packages/gensx-react/package.json
  packages/gensx-storage/CHANGELOG.md
  packages/gensx-storage/package.json
  packages/gensx-vercel-ai/CHANGELOG.md
  packages/gensx-vercel-ai/package.json
Labels: autorelease: pending, core, package

#819 chore: updating storage version in examples
  examples/blog-writer/package.json
  examples/chat-memory/package.json
  examples/chat-ux/package.json
  examples/rag/package.json
  examples/text-to-sql/package.json
  pnpm-lock.yaml
Labels: examples

#826 docs: Updated dependencies for draft pad
  examples/draft-pad/app/api/gensx/route.ts
  examples/draft-pad/gensx/workflows.test.ts
  examples/draft-pad/gensx/workflows.ts
  examples/draft-pad/package.json
  examples/draft-pad/scripts/deploy.sh
  examples/draft-pad/vitest.config.ts
  pnpm-lock.yaml
Labels: examples
